<div class="col-sm-12 data-container">

  <ul class="links-title">
    <li id="links-title"> <i class="icon links"></i>Links </li>
    <li id="sc-link" >  <i class="icon salescontest "></i>  <a class="sales-contest" target="_blank" href="http://ais-poliseekportal/fieldops/sales1/Shared%20Documents/Daily%20Sales%20Report/2017%20Daily%20Sales%20Report.xlsx ">Sales Contest
                            </a></li>
  </ul>
<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-6">
      <div class=" col-sm-12 inner-data-container lg purple-border">
        <p id="plc-title">Personal Lines Carriers</p>
        <div class="card-content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="card-data" *ngFor="let link of Links.PersonalLinesCarriers; let i=index;">
            {{i+1}}{{"."}}
            <a [attr.id]="'plc-row-' + (i + 1)" target="_blank" href="{{link.URL}}">
                {{link.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="col-sm-12 inner-data-container lg green-border">
        <p id="pll-title" >Personal Lines Links</p>
        <div class="card-content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="card-data" *ngFor="let link of Links.PersonalLineslinks; let i=index;">
            {{i+1.}}{{"."}}
            <a [attr.id]="'pll-row-' + (i + 1)" target="_blank" href="{{link.URL}}">
                {{link.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12 inner-data-container sm1 red-border ">
        <p id="gl-title" >General Links</p>
        <div class="card-content1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="card-data" *ngFor="let link of Links.generallinks; let i=index;">
            {{i+1.}}{{"."}}
            <a [attr.id]="'gl-row-' + (i + 1)" target="_blank" href="{{link.URL}}">
                {{link.name}}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 inner-data-container sm2 orange-border">
        <p id="cl-title" >Commercial Links</p>
        <div class="card-content1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="card-data" *ngFor="let link of Links.Commerciallinks; let i=index;">
            {{i+1.}}{{"."}}
            <a [attr.id]="'cl-row-' + (i + 1)" target="_blank" href="{{link.URL}}">
                {{link.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="col-sm-12 inner-data-container lg blue-border">
      <p id="cc-title" >
        Commercial Carriers
      </p>
      <div class="card-content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="card-data" *ngFor="let link of Links.CommercialCarriers; let i=index;">
          {{i+1}}{{"."}}
          <a [attr.id]="'cc-row-' + (i + 1)" target="_blank" href="{{link.URL}}">
                {{link.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>