ul.links-title {
      margin-bottom: 1vh;
    padding: 0;
    margin-top: -2vh;
    margin-left: -1vw;
}
ul.links-title li {
   display: inline-block;
    padding: 0vh 0vw 0.2vh 0vw;
    font-size: 150%;
    color: gray !important;
}

ul.links-title li .btn-default{
    background-color: #fff;
    border-color: transparent;
}
a{
    
    color: gray !important;
    text-decoration: none;

}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
 a.sales-contest{
  text-decoration: none;
}
 a.sales-contest:hover{
    color:goldenrod !important;
      text-decoration: none;
}
.data-container {
   background-color: white;
    padding: 2vh 0.8vw;
    border-top: 1vh solid #E74C38;
    border-radius: 0.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
    margin: 0.4vh 0.2vw;
    width: 100%;
    height: 100%;
    min-height: 81vh;
    max-height: 81vh;
    border-bottom-right-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
	.inner-data-container {
          background-color: white;
    padding: 0.8vh 0.4vw;
    border-bottom-right-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
    margin-left: 1vw;
    width: 98.5%;
    overflow-y: hidden;
    font-size: 95%;
    line-height: 2.8vh;
  }

  .inner-data-container.purple-border{
    border-top: 1vh solid #93278F;
        border-radius: 0.2vw;
  }
   .inner-data-container.blue-border{
    border-top: 1vh solid #008BD5;
        border-radius: 0.2vw;
  }
   .inner-data-container.red-border{
    border-top: 1vh solid #FF1D25;
        border-radius: 0.2vw;
  }
   .inner-data-container.orange-border{
    border-top: 1vh solid #FF931E;
        border-radius: 0.2vw;
  }
   .inner-data-container.green-border{
    border-top: 1vh solid #4EBE67;
        border-radius: 0.2vw;
  }


  .inner-data-container.lg{
      min-height: 69vh;
    max-height: 69vh;
  }

  .inner-data-container.sm1{
           min-height: 39vh;
    max-height: 39vh;
    margin-bottom: 2vh;
  }
   .inner-data-container.sm2{
      min-height: 28vh;
    max-height: 28vh;
  }
  .card-content {
     height: 61vh; 
    
  }
  .card-content1 {
     height: 36vh;   
  }
 
  .card-content1 .card-data
  .card-content .card-data{
  margin-bottom: 0.2vh;
  text-align: left;
  
 
}
}

.data-container p {
    font-size: 130%;
    margin-bottom: 0.6vh;
}




