.recent-activity:before{
  width: 0;
  height: 0vh;
  border-left: 0.45vw solid transparent;
  border-right: 0.45vw solid transparent;
  border-bottom: 1.8vh solid rgba(0, 0, 0, 0.7);
  content: '';
  position: absolute;
  top: -1.6vh;
  left: 10vw;
}
.recent-activity {
     position: absolute;
    display: block;
    top: 12vh;
    background: rgba(0, 0, 0, 0.7);
    width: 21vw;
    height: 46vh;
    left: 39vw;
    color: white;
    z-index: 9999;
    padding: 0.6vh 0.3vw;
    border-radius: 0.6vw;
  ul, li {
    list-style: none;
  }


    td{
      padding:1vh 0.5vw
    }
    tr:hover{
      background: rgba(204, 204, 204, 0.7) !important;
      cursor: pointer;
    }
  

}
// $maxdesktop: "(max-width: 1440px)";
// @media #{$maxdesktop} {
//  .recent-activity {
//     left: 37.5%;
//  }
// }