<!--<div class="recent-activity" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">-->
  <!--<ul id="ra-list" class="no-list-style">
    <li *ngFor="let x of Data; let i = index;" [attr.id]="'ra-show-lead-' + (i + 1)" (click)="showLead(x)">{{x.name}}{{x.product}}{{x.time}}</li>
  </ul>-->

  <table class="recent-activity" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">
    <tbody class="no-list-style">
      <tr *ngFor="let x of Data; let i = index;" [attr.id]="'ra-show-lead-' + (i + 1)" (click)="showLead(x)">
        <td>{{x.name}}</td>
        <td>{{x.product}}</td>
        <td>{{x.time}}</td>
      </tr>
    </tbody>
  </table>
