<i class="icon topleads filter" id="toggle-insured-state" (click)="toggle()"></i>
<div class="product_filter" [ngClass]="{'open':isOpen}">
  <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div>
      <input type="checkbox" name="stateAll" value="All" [(ngModel)]="stateAll" (ngModelChange)="checkAll($event)">      Select All
    </div>
    <ul>
      <li *ngFor="let state of States"><input type="checkbox" value="{{state.name}}" name="{{state.name}}" [(ngModel)]="state.selected"> {{state.name}}</li>
    </ul>
  </div>
  <div class="filter-footer pull-right">
    <button class="btn btn-outline-dark btn-sm" id="toggle-insured-state-ok" (click)="filter(true)">ok</button>
    <button class="btn btn-outline-dark btn-sm" id="toggle-insured-state-cancel" (click)="filter(false)">Cancel</button>
  </div>
</div>
