<div class="map-modal">
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon notification"></i> Notification</h4>
    <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true" (click)="modelRef.hide()">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer text-center">
  </div>
</div>
