
.progress {
       height: 2.4vh;
    margin-bottom: 1.6vh;
    margin-top: 1.6vh;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

}
#sales-goal {
  
}

#bound-premium-goal {
     background-color: #3E8CC6;
    border-radius: 3px;
    color: #ffffff;
    padding: 0.4vh 0.2vw;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    width: 100%;
}

.dashboard-content-card {
      width: 100%;
    font-size: 1vw;
    border-radius: 3px;
     box-shadow: 2px 2px 2px 2px #CCCCCC;
    vertical-align: top;
    margin: 1vh .5vw 0.6vh .5vw;

    background: #ffffff;
  p{
    font-size: 1.2vw;
    color: #808080;
    margin-left: 0.5vw;
  }
  .auto-height {
  min-height: auto;
 // background-color: #337ab7;
}

  .card-title.title-info {
   // background: rgb(0, 163, 231);
    color: #fff;
  }

  .card-content {
    height: 16vh;
    text-align: center
  }
}
.dashboard-content-card.sm {
  min-height: 23.2vh;
  max-height: 23.2vh;
  margin-bottom:1.4vh;
 border-top: 1vh solid  #0085C3;
}
.dashboard-content-card.sm2 {
  min-height: 26.2vh;
  max-height:28vh;
 border-top: 1vh solid  #0085C3;
 .p{
   margin-top:1vh;
 }
}
.dashboard-content-card.ranking {
  height: 72.2vh;
   border-top: 1vh solid  #0085C3;
  .card-content {
    //margin: 0.5rem;
    font-size: 0.8vw
  }
  table {
    tbody {
      tr {
        td {
          text-align: left;
        }
      }
      tr:hover {
        background: #c2e2f5;
        border-radius:2vw;
        border: 1px solid #c2e2f5;
      }
    }
  }
}

.dashboard-content-card.unavailable {
   border-top: 1vh solid  #337ab7;
    margin-left: 0.15vw;
  min-height: 26.2vh;
  max-height:28vh;
  .card-content {
    margin-top: 4vh;
    font-size: 3vw;
  }
  .unavailable-label {
    display: block;
    text-align: center;
    font-size: 0.8vw;
    margin-top: 3vh;
    color: #808080;

}
}

.dashboard-content-card.alert-followup {
  height: 51.4vh;
  margin-bottom: 1.4vh;
   border-top: 1vh solid  #ED1C24;
   width: 98% !important;
  .card-content {
        height: 41vh;
    font-size: 0.8vw;
    padding-left: 1vw;
    overflow-y: hidden;
    text-align: left;
   .alert-content-title{
     color: #4EBE67
   }

  }

}

.left-right-twisty>div:not(.carousel-nav-butttons){
  display: inline-block;
  vertical-align: middle;
}
.left-right-twisty >div:nth-child(1){
  width: 15%;
  background-position-x: -34px;
  cursor: pointer;
}

.left-right-twisty>div:nth-child(2){
  width: 65%;
  overflow: hidden;
  margin: 0 auto;
}

.left-right-twisty >div:nth-child(3){
  width: 15%;
  background-position-x: -34px;
  cursor: pointer;
}



.left-right-twisty {
  margin-top: 1%;
  .carousel-content-container {
    span {
      span {
        display: block;
        text-align: center;

      }
      .value {
        font-size: 3vw;
      }
     
    }
  }
   .label {
        color: #808080;
        font-weight: unset;
        font-size:0.8vw;
        margin-top: 2vh
      }
      .label-calllog {
        color: #808080;
        font-weight: unset;
        font-size:0.8vw;
        margin-top: 0vh
      }
  .carousel-nav-butttons {
    text-align: center;
    display: block;
    clear: both;
    margin-top: 1.4vh;
    cursor: pointer;
    span {
     display: inline-block;
    width: 0.7vw;
    height: 1.4vh;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 0px #CCCCCC inset;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    background-color: #CCCCCC;
    }

    span.active, span:hover {
      background: #00005D;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00005D+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
      background: #08c; /* Old browsers */
      // background: -moz-radial-gradient(center, ellipse cover, #00005D 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
      // background: -webkit-radial-gradient(center, ellipse cover, #00005D 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      // background: radial-gradient(ellipse at center, #00005D 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00005D', endColorstr='#7db9e8', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    }
  }
}


.mycalllog .left-right-twisty.no-control > div:nth-child(1),
.unavailable .left-right-twisty.no-control > div:nth-child(1),
  /*.ranking .left-right-twisty.no-control>div:nth-child(1){display:none;}*/
.mycalllog .left-right-twisty.no-control > div:nth-child(2),
.unavailable .left-right-twisty.no-control > div:nth-child(2),
.ranking .left-right-twisty.no-control > div:nth-child(2) {
  width: 100%;
}

.ranking .left-right-twisty > div:nth-child(2) > div {
  height: 45vh;
  overflow-y: auto;
}

.mycalllog .left-right-twisty.no-control > div:nth-child(3),
.unavailable .left-right-twisty.no-control > div:nth-child(3),
  /*.ranking .left-right-twisty.no-control>div:nth-child(3){display:none;}*/

.pill {
     border-radius: 50px;
    padding: 0.4vh 0.6vw;
    font-size: 0.9vw;
    margin-right: 0vw;
    cursor: pointer;
}
.green.active {
  background: #f0f1f6;
  color: #fff;
  color:#008BD5
}
.float-right {
  float: right;
}
.ranking {
  .left-right-twisty {
    margin-top: 1vh;
  }
}
.alert-msg-when,
.alert-msg-title,
.alert-msg-details {
  display: block;
}

.alert-msg-when {
  font-size: 0.8vw;
  .time {
    font-weight: normal;
    display: inline-block;
  }
  .date {
    margin-right: 1vw;
    display: inline-block;
  }
}

.alert-msg {
  margin-bottom: 2vh;
  text-align: left;
 // border-bottom: 1px solid #eee;
  .alert-msg-title {
    font-weight: bold;
    font-size: 0.8vw;
    color: #00385D;
    cursor: pointer;
  }
  .alert-msg-details {
    line-height: 1.6vh;
  }
}
.left-right-twisty > .carousel-right-btn:after {
  content: "\F105";
    font-size: 6vw;
    font-family: "FontAwesome";
    font-weight: bolder;
    color: #F2F2F2;
    line-height: 8vh;
}
.left-right-twisty >.carousel-left-btn:after{
      content: "\F104";
    font-size: 6vw;
    font-family: "FontAwesome";
    font-weight: bolder;
    color: #F2F2F2;
    line-height: 8vh;
}
.left-right-twisty >div:nth-child(1):hover:after, .left-right-twisty >div:nth-child(3):hover:after{
  color: #999999;
}
#sales-goal {
  background-color: #3E8CC6;
  border-radius: 3px;
  color: #ffffff;
  padding: 0.4vh .2vw;
}
.progress-bar{
  background-color:#fbb03b;
}
.dashboard-right-side{
  padding: 0vw;
}
.left-right-twisty.rankings .carousel-content-container, .left-right-twisty.premium .carousel-content-container{
  width: 100%;
}
.goal-title {
      width: 8vw;

    float: left;
    text-align: center;
    margin-right: 0.3vw;

     span {
      display: block;
    }

    span:nth-child(1) {
      font-size: 0.7vw;
      font-weight: bold;
      margin-top: 0.4vh;

    }

    span:nth-child(2) {
      font-size: 0.7vw;
    }
}

.goal-progressbar {
  width: 33vw;
  margin-top:1.4vh;
}
.goal-percent {
  float: right;
  margin-top: -4vh;
  margin-right: 1vw;
}
#ranking-tile .carousel-nav-butttons {
    position: absolute;
    bottom: 1.4vh;
    left: 0;
    right: 0;
}
#ranking-tile .carousel-content-container span {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
}

.dashboard-content-card.ranking table tbody tr td {
  text-align: left;
  padding-left:0.8vw;
}
.dashboard-content-card.ranking #ranking-sales table tbody tr td:last-child {
  position: absolute;
  text-align: left;
  left: 12vw;
}
.dashboard-content-card.ranking #ranking-premium table tbody tr td:last-child {
  position: absolute;
  text-align: left;
  left: 15vw;
}

.dashboard-content-card.ranking table tbody tr{
 // display: block;
  padding: 0 1vw
}
