<div class="containier-fluid">
  <div class="row">
    <div class="col-xs-5 dashboard-left-side">
      <div class="row">
        <div class="col col-lg-12">
          <div class="dashboard-content-card auto-height" id="toggle-progress" (click)="toggleProgress()" style="cursor:pointer;" title="Click to toggle">
            <div id="sales-goal" [hidden]="defaultProgress2Show != 'unit'">
              <div class="goal-title">
                <span id="sales-content">Unit Sales Goal</span>
                <span id="sales-number">{{DashBoardInfo.goals.totalSales}} out of {{DashBoardInfo.goals.salesGoal}}</span>
              </div>
              <div class="goal-progressbar">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{width: getSalesProgressValue()+'%'}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="goal-percent">
                {{getSalesProgressValue()}}%
              </div>
            </div>

            <div id="bound-premium-goal" [hidden]="defaultProgress2Show != 'bound'">
              <div class="goal-title">
                <span id="bp-content">Bound Premium Goal</span>
                <span id="bp-number">${{DashBoardInfo.goals.totalBoundPremiums}} out of ${{DashBoardInfo.goals.boundPremiumGoal}}</span>
              </div>
              <div class="goal-progressbar">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{width: getBoundProgressValue()+'%'}" ria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="goal-percent">
                {{getBoundProgressValue()}}%
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="dashboard-content-card sm" id="quote-tile">
            <p> Quotes</p>
            <div class="card-content">
              <div class="left-right-twisty">
                <div class="carousel-left-btn" (click)="nav('quote','pre')"></div>
                <div class="carousel-content-container">
                  <span id="quote-yesterday" [hidden]="currentQuote != 1"><span class="value">{{DashBoardInfo.Quotes.yesterday}}</span><span class="label">Yesterday</span></span>
                  <span id="quote-today" [hidden]="currentQuote != 2"><span class="value">{{DashBoardInfo.Quotes.today}}</span><span class="label">Today</span></span>
                  <span id="quote-mtd" [hidden]="currentQuote != 3"><span class="value">{{DashBoardInfo.Quotes.monthToDate}}</span><span class="label">Month-to-date</span></span>
                </div>
                <div class="carousel-right-btn" (click)="nav('quote','next')"></div>
                <div class="carousel-nav-butttons">
                  <span class="twisty-left" [ngClass]="{'active': currentQuote == 1}" (click)="twistyNavBtnClick('quote',1)"></span>
                  <span class="twisty-middle" [ngClass]="{'active': currentQuote == 2}" (click)="twistyNavBtnClick('quote',2)"></span>
                  <span class="twisty-right" [ngClass]="{'active': currentQuote == 3}" (click)="twistyNavBtnClick('quote',3)"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-content-card sm" id="sales-tile">
            <p> Unit Sales </p>
            <div class="card-content">

              <div class="left-right-twisty">
                <div class="carousel-left-btn" (click)="nav('sales','pre')"></div>
                <div class="carousel-content-container">
                  <span id="sales-yesterday" [hidden]="currentSalesCard != 1" (click)="OpenReports()"><span class="value">{{DashBoardInfo.unitSales.yesterday}}</span>
                  <span
                    class="label">Yesterday</span>
                    </span>
                    <span id="sales-today" [hidden]="currentSalesCard != 2" (click)="OpenReports()"><span class="value">{{DashBoardInfo.unitSales.today}}</span>
                    <span
                      class="label">Today</span>
                      </span>
                      <span id="sales-mtd" [hidden]="currentSalesCard != 3" (click)="OpenReports()"><span class="value">{{DashBoardInfo.unitSales.monthToDate}}</span>
                      <span
                        class="label">Month-to-date</span>
                        </span>
                </div>
                <div class="carousel-right-btn" (click)="nav('sales','next')"></div>
                <div class="carousel-nav-butttons">
                  <span class="twisty-left" [ngClass]="{'active': currentSalesCard == 1}" (click)="twistyNavBtnClick('sales',1)"></span>
                  <span class="twisty-middle" [ngClass]="{'active': currentSalesCard == 2}" (click)="twistyNavBtnClick('sales',2)"></span>
                  <span class="twisty-right" [ngClass]="{'active': currentSalesCard == 3}" (click)="twistyNavBtnClick('sales',3)"></span>
                </div>

              </div>
            </div>
          </div>
          <div class="dashboard-content-card sm" id="bp-tile">
            <p> Bound Premium</p>
            <div class="card-content">
              <div class="left-right-twisty">
                <div class="carousel-left-btn" (click)="nav('bp','pre')"></div>
                <div class="carousel-content-container">
                  <span id="bp-yesterday" [hidden]="currentBPCard != 1" (click)="OpenReports()"><span class="value">{{DashBoardInfo.boundPremium.yesterday}}</span>
                  <span
                    class="label">Yesterday</span>
                    </span>
                    <span id="bp-today" [hidden]="currentBPCard != 2" (click)="OpenReports()"><span class="value">{{DashBoardInfo.boundPremium.today}}</span>
                    <span
                      class="label">Today</span>
                      </span>
                      <span id="bp-mtd" [hidden]="currentBPCard != 3" (click)="OpenReports()"><span class="value">{{DashBoardInfo.boundPremium.monthToDate}}</span>
                      <span
                        class="label">Month-to-date</span>
                        </span>
                </div>
                <div class="carousel-right-btn" (click)="nav('bp','next')"></div>
                <div class="carousel-nav-butttons">
                  <span class="twisty-left" [ngClass]="{'active': currentBPCard == 1}" (click)="twistyNavBtnClick('bp',1)"></span>
                  <span class="twisty-middle" [ngClass]="{'active': currentBPCard == 2}" (click)="twistyNavBtnClick('bp',2)"></span>
                  <span class="twisty-right" [ngClass]="{'active': currentBPCard == 3}" (click)="twistyNavBtnClick('bp',3)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="dashboard-content-card ranking" id="ranking-tile">
            <div>
              <p> <span id="Ranking">Rankings</span>
                <span class="float-right">
                <span [ngClass]="{'pill green':true,'active': currentRankingFilter == 1}"  id="toggle-ranking-sales" (click)="toggleRanking(1)">Unit Sales</span>
                <span [ngClass]="{'pill green':true,'active': currentRankingFilter == 2}" id="toggle-ranking-premium" (click)="toggleRanking(2)">Premium</span>
                </span>
              </p>
            </div>
            <div class="card-content">
              <div class="sales" id="ranking-sales" [hidden]="currentRankingFilter != 1">
                <div class="left-right-twisty rankings">
                  <div class="carousel-content-container">
                    <!--<div id="ranking-sales-today" [hidden]="currentSalesRanking != 1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">-->
                    <div id="ranking-sales-today" [hidden]="currentSalesRanking != 1">
                      <table width="100%">
                        <tbody>
                          <tr *ngFor="let i of rankingInfo.unitSalesRankingsToday">
                            <td width="80%">{{i.rank}}.{{" "}}{{i.producer}}</td>
                            <td width="40%">{{i.noOfUnitSales}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="ranking-sales-mtd" [hidden]="currentSalesRanking != 2">
                      <!--<div id="ranking-sales-mtd" [hidden]="currentSalesRanking != 2" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">-->
                      <table width="100%">
                        <tbody>
                          <tr *ngFor="let i of rankingInfo.unitSalesRankingsMonthToDate">
                             <td width="80%">{{i.rank}}.{{" "}}{{i.producer}}</td>
                            <td width="40%">{{i.noOfUnitSales}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <span class="label" >
                          <div id="ranking-today" [hidden]="currentSalesRanking != 1">Today </div>
                          <div id="ranking-mtd" [hidden]="currentSalesRanking != 2">Month-to-date</div>
                          <!--<div [hidden]="currentSalesRanking != 3">Tomorrow</div>-->
                      </span>
                  </div>

                  <div class="carousel-nav-butttons">
                    <span class="twisty-left" [ngClass]="{'active': currentSalesRanking == 1}" (click)="twistyNavBtnClick('salesRanking',1)"></span>
                    <span class="twisty-right" [ngClass]="{'active': currentSalesRanking == 2}" (click)="twistyNavBtnClick('salesRanking',2)"></span>
                    <!--<span [ngClass]="{'active': currentSalesRanking == 3}" (click)="twistyNavBtnClick('salesRanking',3)"></span>-->
                  </div>
                </div>
              </div>
              <div class="premium" id="ranking-premium" [hidden]="currentRankingFilter != 2">
                <div class="left-right-twisty premium">

                  <div class="carousel-content-container">
                    <div id="ranking-premium-today" [hidden]="currentPremiumRanking != 1">
                      <!--<div id="ranking-premium-today" [hidden]="currentPremiumRanking != 1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">-->
                      <table width="100%">
                        <tbody>
                          <tr *ngFor="let i of rankingInfo.boundPremiumRankingsToday">
                            <td width="40%">{{i.rank}}.{{" "}}{{i.producer}}</td>
                            <td width="50%"></td>
                            <td width="30%">${{i.boundPremium}}k</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="ranking-premium-mtd" [hidden]="currentPremiumRanking != 2">
                      <!--<div id="ranking-premium-mtd" [hidden]="currentPremiumRanking != 2" malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">-->
                      <table width="100%">
                        <tbody>
                          <tr *ngFor="let i of rankingInfo.boundPremiumRankingsMonthToDate">
                            <td width="40%">{{i.rank}}.{{" "}}{{i.producer}}</td>
                            <td width="50%"></td>
                            <td width="30%">${{i.boundPremium}}k</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <span class="label">
                              <div [hidden]="currentPremiumRanking != 1">Today</div>
                              <div [hidden]="currentPremiumRanking != 2"> Month-to-date</div>
                             <!--<div [hidden]="currentPremiumRanking != 3">Tomorrow</div>-->
                          </span>
                  </div>

                  <div class="carousel-nav-butttons">
                    <span class="twisty-left" [ngClass]="{'active': currentPremiumRanking == 1}" (click)="twistyNavBtnClick('premiumRanking',1)"></span>
                    <span class="twisty-right" [ngClass]="{'active': currentPremiumRanking == 2}" (click)="twistyNavBtnClick('premiumRanking',2)"></span>
                    <!--<span [ngClass]="{'active': currentPremiumRanking == 3}" (click)="twistyNavBtnClick('premiumRanking',3)"></span>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-7 dashboard-right-side">
      <div class="col-xs-12">
        <div class="dashboard-content-card alert-followup" id="alert-tile">
          <p>
            <i class=" icon dashboardicon alert"></i> Alerts
          </p>

          <div class="card-content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <div class="alert-msg" *ngFor="let i of alertsInfo">
              <span class="alert-content-title">{{i.targetAudience}}</span>
              <span class="alert-msg-when">
                      <span class="date">{{i.alertDate}}</span>
              <span class="time">{{i.alertTime}}</span>
              </span>
              <span class="alert-msg-title">{{i.subject}}</span>
              <span class="alert-msg-details">{{i.detailMessage}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="dashboard-content-card sm2" id="call-log-tile">
          <p>My Call Log</p>
          <div class="card-content">
            <p id="call-statistics">Received vs Answered</p>
            <div class="left-right-twisty">
              <div class="carousel-left-btn" (click)="nav('myCallLog','pre')"></div>
              <div class="carousel-content-container">
                <span id="call-log-yesterday" [hidden]="currentCallLog != 1"><span class="value">{{DashBoardInfo.callLog.callsReceivedYesterday}}/{{DashBoardInfo.callLog.callsAnsweredYesterday}}</span><span class="label-calllog">Yesterday</span></span>
                <span id="call-log-today" [hidden]="currentCallLog != 2"><span class="value">{{DashBoardInfo.callLog.callsReceivedToday}}/{{DashBoardInfo.callLog.callsAnsweredToday}}</span><span class="label-calllog">Today</span></span>
                <span id="call-log-mtd" [hidden]="currentCallLog != 3"><span class="value">{{DashBoardInfo.callLog.callsReceivedMonthToDate}}/{{DashBoardInfo.callLog.callsAnsweredMonthToDate}}</span><span class="label-calllog">Month-to-date</span></span>
              </div>
              <div class="carousel-right-btn" (click)="nav('myCallLog','next')"></div>
              <div class="carousel-nav-butttons">
                <span class="twisty-left" [ngClass]="{'active': currentCallLog == 1}" (click)="twistyNavBtnClick('myCallLog',1)"></span>
                <span class="twisty-middle" [ngClass]="{'active': currentCallLog == 2}" (click)="twistyNavBtnClick('myCallLog',2)"></span>
                <span class="twisty-right" [ngClass]="{'active': currentCallLog == 3}" (click)="twistyNavBtnClick('myCallLog',3)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="dashboard-content-card unavailable" id="unavailable-tile">
          <p>Unavailable</p>
          <div class="card-content">
            <span class="value">{{DashBoardInfo.unavailable.hoursToday}}:{{DashBoardInfo.unavailable.minutesToday}}min</span>
            <span class="unavailable-label">Today</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>