.btn-group p{
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  background: #fff;

  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius:0.3vw; 
}
thead, tbody, tr, th, td { display: block; }

thead tr {
   
    width: 100%;
    
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.table-body {
    height: 68vh;
}
tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-left: -0.5vw;
}
.form-control {
  height:4.6vh !important;
}
tbody td, thead th {
    width: 8.333%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}
th {
 background-color: #b4c4d3;
    padding: 0.6vh 0.7vw;
    text-align: center;
}
td {
    padding: 0.8vh 0.4vw;
    border-bottom: 0.1vw solid #ddd;
    text-align: center;
    padding-left:0vw;
}

tr:hover {
  background-color: #d5ebf9
}

.scroll .mCSB_inside > .mCSB_container{
  margin-right: 0vw !important;
}
.scroll{
  height: 73vh;
}

ul.reports-title {
  margin: 0vw;
  padding: 0vw;
}
ul.reports-title li {
  display: inline-block;
padding: 0vh 0.5vw;
  font-size: 1.5vw;
  color: gray;
  img{       
           width: 2.5vw;
    height: 5vh;
    padding-right: 0.3vw;
    padding-bottom: 0.6vh;
        }
}

ul.reports-title li .btn-default{
    background-color: #fff;
    border-color: transparent;
}

.report-table{
  background-color: #FFFFFF;
   border-top: 1vh solid #e74c38;
       border-radius: 0.2vw;


//   ::-webkit-scrollbar {
//     width: 10px
//   }
//   ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-radius: 10px;
// }
 
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }
 
}
// $mindesktop: "(min-width: 768px)";
// @media #{$mindesktop} {
//   .scroll {
//     height: 73vh !important;
//   }
//  }

