<div class="row">
  <div class="col-sm-4">
    <ul class="reports-title">
      <li ><i class="icon reports"></i> My Bound Policies </li>
    </ul>
  </div>
  <!--<div class="col-sm-2 pull-right" style="padding-bottom:5px">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-calendar"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>-->
<div class="col-sm-2 pull-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group" daterangepicker reports (selected)="selectedDate($event, mainInput)">
                <span class="form-control uneditable-input"  name="daterange" >
                    {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                </span>
            <span class="input-group-btn">
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 pull-right text-right" style="font-size: 20px">
      {{Data.length}} Results
    </div>
</div>
  <div class="report-table">
    <table class="scroll">
      <thead>
        <tr>
          <th style="padding-left:1.4vw;">Insured Name</th>
          <th>Insured Number</th>
          <th>Policy #</th>
          <th>Bound Date</th>
          <th>Premium</th>
          <th>Market</th>
          <th>Paper Written</th>
          <th>Product</th>
          <th>Source</th>
          <th>State</th>
          <th>Tran Mode</th>
          <th>Company</th>

        </tr>
      </thead>
      <div class="table-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <tbody>

        <tr *ngFor="let i of Data; let x = index;">
        <td style="padding-left:0.4vw;" [attr.id]="'reports-show-lead-' + (x + 1)" (click)="showLead(i)" href="javascript:void(0)"><strong>{{i.name}} </strong></td>
          <td>9658</td>
          <td>1234</td>
          <td style="padding-left:0.4vw;">11/12/2017</td>
          <td style="padding-left:0.6vw;" >50k</td>
          <td style="padding-left:0.8vw;" >Mercury Insurance</td>
          <td style="padding-left:1.2vw;" >Mercury Insurance</td>
          <td style="padding-left:1.4vw;" >Auto</td>
          <td style="padding-left:1.8vw;" >Google</td>
          <td style="padding-left:2vw;" >CA</td>
          <td style="padding-left:2.4vw;" >DocuSign</td>
          <td style="padding-left:2.6vw;" >AIS</td>

        </tr>
      </tbody>
      </div>
    </table>
  
</div>