<div class="modal-transfer-data">
<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-calendar-o"></i> Transferable Data</h4>
  <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true" (click)="modelRef.hide()">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="transferable-data-address">
      <div class="row">
        <div class="col-sm-6"><input type="checkbox" class="checkbox"> <i class="icon transferdata person"></i> Name</div>
        <div class="col-sm-6"><input type="checkbox" class="checkbox"> <i class="icon transferdata email"></i> Email</div>
      </div>
        <div class="row">
          <div class="col-sm-6"><input type="checkbox" class="checkbox"> <i class="icon transferdata location"></i> Address</div>
          <div class="col-sm-6"><input type="checkbox" class="checkbox"> <i class="icon transferdata phone"></i> Phone</div>
        </div>
      </div>
  <hr>
  <div class="transferable-data-license">
    <div class="row">
      <div class="col-sm-6"> <i class="icon transferdata driverinfo"></i> Driver Information</div>
      <div class="col-sm-6"> <i class="icon transferdata carinfo"></i> Car Information</div>
    </div>
      <div class="row">
        <div class="col-sm-6"><i class="icon transferdata drivinghistory"></i> Driving History</div>

      </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark transfer" >Transfer Data</button>
  
</div>
</div>
