
input[type=checkbox], input[type=radio] {
  float: left;
  margin: 14px 11px;
}
.transfer{
  margin-left: 9vw;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #ffffff;
}
.transferable-data-license .icon {
  float: left;
  margin-top: -1vh;
  margin-bottom: 2vh;
}
.btn {
  padding: 0.4vh 0.5vw !important;
}
