<div id="sticky-menu" [ngClass]="{'open':state == 'show'}">
  <div class="sticky-menu-group">
    <div id="sticky-menu-handle" (click)="toggleStickyMenu()" *ngIf="state === 'hide'">
      <div>Quick Links</div>
    </div>
    <div id="sticky-menu-items" [@StickyMenuAnimation]="state">

      <ul>
        <li><a href="javscript:void(0);" (click)="toggleStickyMenu()" style="font-size:1.1vw">Quick Links</a></li>
        <li *ngFor="let link of QuickLinks"><a href="{{link.uriLink}}">{{link.displayName}}</a></li>
      </ul>
    </div>
  </div>
</div>