#sticky-menu {
  position: fixed;
  top: 76vh;
  right: -4.2vw;
  z-index: 99;
  .sticky-menu-group{
    position:relative;
    #sticky-menu-handle { 
      cursor: pointer;
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      div{
             width: 9.9vw;
    height: 4.2vh;
    line-height: 1;
    text-align: center;
    font-size: 0.9vw;
    padding: 1vh 0.5vw;
      }
    }
  }
}
#sticky-menu.open{
  right: 0 !important;
   top: 66vh;
}

#sticky-menu-handle,
#sticky-menu-items {
 
  background: #000;
  opacity:0.8;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 0.3vw;
 
}




#sticky-menu-items ul {
    margin: 0vh 0vw 0vh -0.18vw;
    padding: 0vw 0.3vw 10vh 0.4vw;
    list-style: none;
}

#sticky-menu-items ul li {
  display: block;
  margin-bottom: 0.15vh;
}

#sticky-menu-items ul li a {
    display: block;
    background: #000;
    padding: 0.16vh 0.3vw;
    border-radius: 0.3vw;
    width: 9vw;
    min-height: 2vh;
}

#sticky-menu-items a {
  color: #fff;
  text-decoration: none;
}
