.product_filter {
  position: absolute;
  background: #4997d0;
  border: 1px solid #4997d0;
  border-radius: 5px;
  padding: 1.4vh 0.7vw;
  margin-top: 0.4vh;
  display: none;
  z-index: 999;
  .product_filter_inner {
    background: #ffffff;
    padding: 0.4vh 0.2vw;
    input[type="checkbox"] {
      margin: 0.8vh 0.4vw;
    }
    ul {
      padding: 0vw;
      li {
        list-style: none;
        line-height: 3.2vh;
        padding: 0 0.6vw;
        display: flex;
      }
    }
  }
  .filter-footer {
    margin-top: 1.2vh;
    margin-left: 2.5vw;
    .btn {
      color: #fff;
      background: transparent;
      border: 1px solid #FFFFFF;
      border-radius: 25px;
      width: 5vw;
      height: 3.8vh;
      padding: 0.4vh 0.8vw;
    }
    .btn:hover {
      outline: none;
      outline-offset: -2px;
      background-color: #eee;
      border-color: #eeeeee;
      color: #4997d0;
    }
  }
}

.product_filter.open {
  display: block;
}
