
#view-container {
     min-height: 85vh;
    max-height: 85vh;
    padding: 2vh 0.7vw;
    margin: 0 1vw;
    background: #eee;
    box-shadow: 2px 2px 2px 2px #666;
    border-radius: 5px;
}



// $mindesktop: "(min-width: 768px)";
// @media #{$mindesktop} {
//   #view-container{
//     min-height: 85vh;
//     max-height: 85vh;
//   }

// }



