<div id="view-container">
  <app-dashboard [hidden]=" selectedItem != 0"></app-dashboard>
  <app-followups [hidden]=" selectedItem != 1"></app-followups>
  <app-leads [hidden]=" selectedItem != 2" [newLeadOnCall]="newLead"></app-leads>
  <app-recent-activity [hidden]="recent"></app-recent-activity>
  <app-reports [hidden]=" selectedItem != 4"></app-reports>
  <app-links [hidden]=" selectedItem != 5"></app-links>
  <app-search [hidden]=" selectedItem != 6"></app-search>
  <app-profile [hidden]=" selectedItem != 7"></app-profile>
</div>


