 body .modal-dialog {
  width: 60vw !important;


}
.leads-modal{
  width: 60vw !important;
  position: absolute;
  right: 0;
  left: -15vw;
  top: -1vw;
  #leads-top-controls-modal ul li {
    display: inline-block;
  }
  #leads-top-controls-modal {
    padding: 0.5vw 0;
  }
  .modal-footer{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #leads-top-controls-modal ul li a{
    color: #FFFFFF;
    padding: 0.5vw 0.9vw;
    background: #5a5a5a;
  }
  #leads-top-controls-modal ul li a.active{
    background: #F7931E;
  }
  h3{
  float: left;
  margin: 0 0.9vw;
  font-size: 12px;
  padding-top: 0.5vw;
}
  .leads-policy {
    background: url("/../../assets/images/SVGs/SVGs/leads-gray-policy.svg") no-repeat;
    background-size: 1.2vw;
    background-position: bottom center;
    margin-bottom: -0.3vw;
    margin-left: 0;
  }
  .leads-quotestate {
    background: url("/../../assets/images/SVGs/SVGs/leads-gray-quote.svg") no-repeat;
    background-size: 1.2vw;
    background-position: bottom center;
    margin-bottom: -0.3vw;
    margin-left: 0;
  }
table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  background: #fff;
  border-radius: 5px;


  thead, tbody, tr, th, td {
    display: block;
  }
  thead {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    tr {
      width: 100%;
      background-color: #b4c4d3;
    }
    th {

      padding: 0.4vh 0.8vw;
      text-align: left;
    }
    td, th {
      width: 8vw;
      display: inline-block;
    }
  }

  tbody {
    height: 50vh;

    td, th {
      width: 8vw; /* 19% is less than (100% / 5 cols) = 20% */
      float: left;

    }
    td {
      text-align: center;
      border-bottom: 1px solid #ddd;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0.5vw 0vw;
      color: #808080;

    }
  }


  tr:hover td {
    background-color: #d5ebf9
  }
}
  .modal-footer .btn{
    margin: 0 0.5vw;
  }
   .modal-footer .btn:hover{
     background: #FFFFFF;
     color: #0c90d6;

   }
}
.source-modal .modal-footer .btn {
  background-color: #0086c8;
  display: block;
  margin: 0 auto;
  color: #fff;
  box-shadow: unset;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}
.source-modal .modal-title {
  font-size: 24px;
}
.source-modal-body{
  background: #FFFFFF;
  color: #999999;
  padding: 10px;
}
ul.left-side-source {
  padding: 0;
  list-style: none;
  height: 9vh;
}
ul.left-side-source::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;

}

ul.left-side-source::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

ul.left-side-source::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #b3b3b3;
}
input.source {
  height: 2rem;
  margin-bottom: 10px;
}
.modal-header, .modal-body {
  border-bottom: unset;
  padding: 0 15px;
}
.source-left-side {
  border-right: 2px solid #a4a4a4;
}
button.fa.fa-clock-o {
  border: unset;
  background: transparent;
  font-size: 2em;
}