<div class="leads-modal" >
  <div class="modal-header">
    <div id="leads-top-controls-modal">
      <h3><i class="icon topleads tmyleads"></i>John Miller</h3>
      <ul><li><a href="#"><i class="fa fa-user"></i> Leads</a></li>
        <li> <a href="#"><i class="leads-quotestate icon"></i> Quote</a> </li>
        <li><a href="#" class="active"><i class="leads-policy icon" ></i> Policy </a></li>
      </ul>
    </div>
    <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true" id="close-source-modal" (click)="modelRef.hide()">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="leads-modal-body">
      <table class="scroll">
        <thead>
        <tr>
          <th key="date">Lead Date</th>
          <th key="name">Initial Date Contacted</th>
          <th key="product">Producer</th>
          <th key="quote">Product</th>
          <th  key="allstatus">Lead Status</th>
          <th key="docusign">Name</th>
          <th key="source">Source</th>
        </tr>
        </thead>
        <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        <tr>
          <td>19/12/2017</td>
          <td>19/12/2018</td>
          <td>Mike Hilemam</td>
          <td>Home</td>
          <td tooltip="xyx">Active</td>
          <td tooltip="xyx" >John Smith</td>
          <td tooltip="xyx">Google</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-outline-dark pull-right" >Cancel</button>
    <button type="button" class="btn btn-outline-dark pull-right" >Re-rate</button>
    <button type="button" class="btn btn-outline-dark pull-right" >Cross-Sell</button>
  </div>
</div>