<div class="search-component-container">
  <table width="100%" border="0" cellspacing="0">
    <tr>
      <td width="15%" align="center" id="search-heading">
        <p class="search-head-title"><i class="icon search search" aria-hidden="true"></i> Search</p>
      </td>
      <td id="search-form">
        <div class="row">
          <div class="col col-xs-10" style="padding-top: 2vh;">
            <div class="col col-xs-1">
            </div>
            <div class="col col-xs-2">
              <input type="text" name="fname" class="form-control search-form-textbox" placeholder="First Name"
                     [(ngModel)]="searchForm.FirstName"/>
              <input type="text" name="lname" class="form-control search-form-textbox" placeholder="Last Name"
                     [(ngModel)]="searchForm.LastName"/>
            </div>
            <div class="col col-xs-2">
              <input type="text" name="zip" class="form-control search-form-textbox" placeholder="Zip Code"
                     [(ngModel)]="searchForm.AddressZipCode"/>
              <input type="text" name="email" class="form-control search-form-textbox" placeholder="Email"
                     [(ngModel)]="searchForm.EmailAddress"/>
            </div>
            <div class="col col-xs-2">
              <input type="text" name="phone" class="form-control search-form-textbox" placeholder="Phone Number"
                     [(ngModel)]="searchForm.PhoneNumber"/>
              <input type="text" name="quote" class="form-control search-form-textbox" placeholder="Quote Number"
                     [(ngModel)]="searchForm.LeadQuoteNumber"/>
            </div>
            <div class="col col-xs-2">
              <input type="text" name="dba" class="form-control search-form-textbox" placeholder="DBA"
                     [(ngModel)]="searchForm.InsuredDBAName"/>
              <input type="text" name="pol" class="form-control search-form-textbox" placeholder="Policy Number"
                     [(ngModel)]="searchForm.InsuredPolicyNumber"/>
            </div>
            <div class="col col-xs-2">
              <input type="text" name="fname" class="form-control search-form-textbox" placeholder="Insured Number"
                     [(ngModel)]="searchForm.InsuredNumber"/>
              <input type="text" name="lname" class="form-control search-form-textbox" placeholder="State"
                     [(ngModel)]="searchForm.AddressState"/>
            </div>
            <div class="col col-xs-1">
            </div>
          </div>
          <div class="col col-xs-2 search-form-form-buttons">
            <button type="submit" class="btn btn-primary btn-sm btn-block" id="search-form-submit"
                    (click)="searchFormSubmit()"><span
              class=" icon search reset" style="margin-left: -2.4vw"></span>&nbsp; Search
            </button>
            <button type="reset" class="btn btn-warning btn-sm btn-block" (click)="reset()"><span
              class="icon search results"></span>&nbsp;
              Reset Search
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div id="result-pan">
    <div class="tabsContainer">
      <button class="btn btn-sm" [ngClass]="{'active': resultTable === 'leads'}" id="show-leads-result-table"
              (click)="resultTable = 'leads'"
              style="margin-top: 2vh;font-size: 0.8vw;">Leads({{LeadResults.TotalCount}})
      </button>
      <button class="btn btn-sm" [ngClass]="{'active': resultTable === 'insured'}" id="show-insured-results-table"
              (click)="resultTable = 'insured'"
              style=" margin-left: -0.3vw; font-size: 0.8vw;
    margin-top: 2vh;">
        Insured({{InsuredResults.TotalCount}})
      </button>

    </div>
    <!--<div class="table-responsive" malihu-scrollbar [scrollbarOptions]="{ axis: 'yx', theme: 'dark-3' }" [hidden]="resultTable !== 'leads'">-->
    <div class="search-table" [hidden]="resultTable !== 'leads'">
      <table class="table">
        <thead>
        <tr>
          <th style="padding-left: 1.3vw" appSort [sortObj]="['InitialDateContacted','Name']" [data]="LeadResults.Leads"
              key="LeadDate" [reverse]="false">Lead Date
          </th>
          <th style="padding-left: 1vw" appSort [sortObj]="['Name','ProductName']" [data]="LeadResults.Leads"
              key="InitialDateContacted" [reverse]="false">Intial Date Contacted
          </th>
          <th appSort [sortObj]="['name','lastname']" [data]="LeadResults.Leads" key="IsLeadProtected"
              [reverse]="false">Protected
          </th>
          <th style="padding-left: 0.9vw" appSort [sortObj]="['InitialDateContacted','ProductName']"
              [data]="LeadResults.Leads" key="Name" [reverse]="false">Name
          </th>
          <th>Producer</th>
          <!--<th>Insured # </th>-->
          <!--<th>Policy Number</th>-->
          <th key="product" appSort [sortObj]="['InitialDateContacted','Name']" [data]="LeadResults.Leads"
              key="ProductName" [reverse]="false">
            Product <i class="icon topleads filter" id="toggle-lead-product" (click)="toggleFilter('leadProd')"></i>
            <div class="product_filter" [ngClass]="{'open':FilterDrop.leadProd}">
              <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div>
                  <input type="checkbox"> Select All
                </div>
                <ul>
                  <li><input type="checkbox"> Automobile</li>
                  <li><input type="checkbox"> Umbrella</li>
                  <li><input type="checkbox"> ATV</li>
                  <li><input type="checkbox"> Boat Owners</li>
                  <li><input type="checkbox"> Classic Cars</li>
                  <li><input type="checkbox"> Dwelling Fire</li>
                  <li><input type="checkbox"> Watercraft</li>
                  <li><input type="checkbox"> Bus Conversion</li>
                </ul>
              </div>
              <div class="filter-footer pull-right">
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-product-ok"
                        (click)="toggleFilter('leadProd')">ok
                </button>
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-product-cancel"
                        (click)="toggleFilter('leadProd')">Cancel
                </button>
              </div>
            </div>
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name']" [data]="LeadResults.Leads" key="AddressStreet"
              [reverse]="false">Street Address
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="AddressZipCode" [reverse]="false">Zip Code
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="AddressState" [reverse]="false">
            State <i class="icon topleads filter" id="toggle-lead-state" (click)="toggleFilter('leadState')"></i>
            <div class="product_filter" [ngClass]="{'open':FilterDrop.leadState}">
              <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div>
                  <input type="checkbox"> Select All
                </div>
                <ul>
                  <li><input type="checkbox"> CA</li>
                  <li><input type="checkbox"> AZ</li>
                  <li><input type="checkbox"> MO</li>
                  <li><input type="checkbox"> TX</li>
                  <li><input type="checkbox"> NJ</li>
                  <li><input type="checkbox"> NY</li>
                  <li><input type="checkbox"> IL</li>
                  <li><input type="checkbox"> GA</li>
                </ul>
              </div>
              <div class="filter-footer pull-right">
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-state-ok"
                        (click)="toggleFilter('leadState')">ok
                </button>
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-state-cancel"
                        (click)="toggleFilter('leadState')">Cancel
                </button>
              </div>
            </div>
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="EmailAddress" [reverse]="false">Email
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="PhoneNumber" [reverse]="false">Phone Number
          </th>
          <!--<th>Status</th>-->
          <th appSort [sortObj]="['InitialDateContacted']" [data]="LeadResults.Leads" key="LeadQuoteReferenceNo"
              [reverse]="false">Quote Number
          </th>

          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="InsuredDBAName" [reverse]="false">DBA
          </th>

          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="MarketingSourceName" [reverse]="false">Source
          </th>
          <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="LeadResults.Leads"
              key="CompanyName" [reverse]="false" style="width:7.6%">
            Company <i class="icon topleads filter" id="toggle-lead-company" (click)="toggleFilter('leadcompany')"></i>
            <div class="product_filter" [ngClass]="{'open':FilterDrop.leadcompany}" style="margin-left:-2vw;">
              <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div>
                  <input type="checkbox"> Select All
                </div>
                <ul>
                  <li><input type="checkbox"> CA</li>
                  <li><input type="checkbox"> AZ</li>
                  <li><input type="checkbox"> MO</li>
                  <li><input type="checkbox"> TX</li>
                  <li><input type="checkbox"> NJ</li>
                  <li><input type="checkbox"> NY</li>
                  <li><input type="checkbox"> IL</li>
                  <li><input type="checkbox"> GA</li>
                </ul>
              </div>
              <div class="filter-footer pull-right">
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-company-ok"
                        (click)="toggleFilter('leadcompany')">ok
                </button>
                <button class="btn btn-outline-dark btn-sm" id="toggle-lead-company-cancel"
                        (click)="toggleFilter('leadcompany')">Cancel
                </button>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <div class="table-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <tbody>
          <tr *ngFor="let Result of LeadResults.Leads">
            <td style="padding-left: 0.3vw;" title={{Result.LeadDate}}>{{Result.LeadDate}}</td>
            <td tooltip="J678910">{{Result.InitialDateContacted}}</td>
            <td tooltip="Demond Jordan">{{Result.IsLeadProtected}}</td>
            <td tooltip="12345"><strong>{{Result.Name}}</strong></td>
            <td tooltip="John Smith" (click)="showLead(record)">{{Result.ProducerName}}</td>
            <!--<td tooltip="Auto"> 123456</td>-->
            <!--<td tooltip="Auto"> 1234896</td>-->
            <td tooltip="Auto"> {{Result.ProductName}}</td>
            <td style="padding-left:0.4vw;" tooltip="17760 Center Court">{{Result.AddressStreet}}</td>
            <td style="padding-left:0.2vw;" tooltip="90703">{{Result.AddressZipCode}}</td>
            <td style="padding-left:0.4vw;" tooltip="CA">{{Result.AddressState}}</td>
            <td style="padding-left:0.5vw;" tooltip="john.smith">{{Result.EmailAddress}}</td>
            <td style="padding-left:0.5vw;" tooltip="555-555-555"><strong>{{Result.PhoneNumber}}</strong></td>
            <!--<td tooltip="Active">Active</td>-->
            <td style="padding-left:0.6vw;" tooltip="Johns Lawn">{{Result.LeadQuoteReferenceNo}}</td>
            <td style="padding-left:0.6vw;" tooltip="AIS">{{Result.InsuredDBAName}}</td>
            <td style="padding-left:0.7vw;" tooltip="AIS">{{Result.MarketingSourceName}}</td>
            <td style="padding-left:0.8vw;" tooltip="AIS">{{Result.CompanyName}}</td>
          </tr>
          </tbody>
        </div>
      </table>
    </div>
    <div id="insured-results-table" class="table-responsive" malihu-scrollbar
         [scrollbarOptions]="{ axis: 'y', theme: 'dark-3' }"
         [hidden]="resultTable !== 'insured'">
      <div class="Insured-table" [hidden]="resultTable !== 'insured'">
        <table class="table">
          <thead>
          <tr>
            <th style="padding-left:1.3vw;" appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="Name"
                [reverse]="true" class="active">
              Name
              <i class="fa fa-arrow-down"></i>
            </th>
            <th style="padding-left: 1vw" appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="ProducerName"
                [reverse]="false">Producer
            </th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="Id" [reverse]="false">Insured Number</th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="PolicyNumber" [reverse]="false">Policy
              Number
            </th>
            <th>
              <span appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="ProductName" [reverse]="false" key="product">Product</span>
               <app-product-filter [Products]="States" (applyFilter)="applyFilter($event)"></app-product-filter>
            </th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="AddressStreet" [reverse]="false">Street
              Address <i class="fa"></i></th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="AddressZipCode" [reverse]="false">
              Zipcode <i class="fa"></i></th>
            <th>
              <span appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="AddressState" [reverse]="false">State <i
                class="fa"></i></span>
              <app-state-filter [States]="States" (applyFilter)="applyFilter($event)"></app-state-filter>
            </th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="EmailAddress" [reverse]="false">Email
            </th>
            <th appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="PhoneNumber" [reverse]="false">Phone
              Number
            </th>
            <th>
              <span appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="InsuredStatus" [reverse]="false">Status</span>
              <app-status-filter [Status]="States" (applyFilter)="applyFilter($event)"></app-status-filter>
            </th>
            <th appSort [sortObj]="['InitialDateContacted','Name','ProductName']" [data]="InsuredResults.Insureds"
                key="CompanyName" [reverse]="false">DBA
            </th>
            <th>
              <span appSort [sortObj]="['Id']" [data]="InsuredResults.Insureds" key="CompanyName" [reverse]="false">Company</span>
              <app-company-filter [Company]="States" (applyFilter)="applyFilter($event)"></app-company-filter>
          </thead>
          <div class="table-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <tbody>
            <tr *ngFor="let Insured of InsuredResults.Insureds | filter:insureFilterObj">
              <td style="padding-left: 0.3vw;" tooltip="J678910"><strong>{{Insured.Name}}</strong></td>
              <td style="padding-left:0.1vw;" tooltip="Demond Jordan">{{Insured.ProducerName}}</td>
              <td tooltip="12345">{{Insured.Id}}</td>
              <td style="padding-left:0.2vw;" tooltip="John Smith" (click)="showLead(record)">{{Insured.PolicyNumber}}
              </td>
              <td style="padding-left:0.4vw;" tooltip="Auto">{{Insured.ProductName}}</td>
              <td style="padding-left:0.8vw;" tooltip="17760 Center Court">{{Insured.AddressStreet}}</td>
              <td style="padding-left:0.9vw;" tooltip="90703">{{Insured.AddressZipCode}}</td>
              <td style="padding-left:1.2vw;" tooltip="CA">{{Insured.AddressState}}</td>
              <td style="padding-left:1.4vw;" tooltip="john.smith">{{Insured.EmailAddress}}</td>
              <td style="padding-left:1.4vw;" tooltip="555-555-555"><strong>{{Insured.PhoneNumber}}</strong></td>
              <td style="padding-left:1.8vw;" tooltip="Active">{{Insured.InsuredStatus}}</td>
              <td style="padding-left:1.8vw;" tooltip="Johns Lawn">{{Insured.InsuredDBAName}}</td>
              <td style="padding-left:2.2vw;" tooltip="AIS">{{Insured.CompanyName}}</td>
            </tr>
            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>
