.search-component-container{
  .btn {
    border-radius: 0;
    border: none;
   
  }
  #search-heading,
  #search-count {
    background: #e6e6e6;
    color: #828292;
    font-weight: bold;
    font-size: 100%;
  }
  #search-form {
    background: #e6e6e6;
  }
// .mCSB_scrollTools .mCSB_draggerContainer {
//  top:3vw !important;
//  bottom: 0.2vw !important;
//   right: 2vw;
// }
  .form-control.search-form-textbox {
        border-radius: 0;
    padding: 0;
    border: none;
    border-radius:4px;
    font-size: 0.8vw;
    line-height: 1.2vh;
    height: 3.4vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1.2vh;
  }
  .search-form-form-options {
    font-size: 1vw;
  }
  #result-pan {
    border-top: 1vh solid #757575;
    height: 68vh;
    position: relative;
    .table-responsive{
      height:100%;
      table{
        width:100% !important;
      }
    }
    .tabsContainer{
      position: absolute;
      top:-6.6vh;
      .btn{
        color: white;
         background: #808080;
      }
      .btn.active{
        background: #757575;
      }
    }
   
  }
  .btn-block + .btn-block {
    margin-top: 0;
  }
  table{
    thead{
      background-color: #b4c4d3;
      font-size: 0.8vw;
      font-weight: bolder;
      th.active{
        background-color: #f2f2f2;
      }
      th{
        span.active{
          background-color: #f2f2f2;
        }
      }
    }
  }
}

 .product_filter {
          position: absolute;
          background: #4997d0;
          border: 1px solid #4997d0;
          border-radius: 5px;
              padding: 1.4vh 0.7vw;
            margin-top: 0.4vh;
          display: none;
           z-index: 999;
          .product_filter_inner {
            background: #ffffff;
            padding: 0.4vh 0.2vw;
                input[type="checkbox"]{
                     margin: 0.8vh 0.4vw;
                          }
            ul{
              padding: 0vw;
              li {
                list-style: none;
                   line-height: 3.2vh;
                  padding: 0 0.6vw;
                display: flex;
              }
            }
          }
          .filter-footer{
                margin-top: 1.2vh;
                margin-left: 2.5vw;
            .btn {
              color: #fff;
              background: transparent;
              border: 1px solid #FFFFFF;
              border-radius: 25px;
              width: 5vw;
               height: 3.8vh;
               padding: 0.4vh 0.8vw;
            }
            .btn:hover {
                   outline: none;
                   outline-offset: -2px;
                  background-color: #eee ;
                   border-color: #eeeeee ;
                    color: #4997d0;
                    }
          }
        }
.product_filter.open{
  display: block;
}

button.btn.btn-primary.btn-sm.btn-block {
  background: #757575;
  font-size: 1vw;
}

button.btn.btn-warning.btn-sm.btn-block {
  background: #4a5159;
  font-size: 1vw;
}

#search-heading .fa {
  color: #0086c8;
  font-size: 1.7vw;
}

p.search-head-title {
    float: left;
    font-weight: normal;
    font-size: 1.2vw;
    padding-left: 0.1vw;
}

.tabsContainer .btn.active.focus,  .tabsContainer .btn.active:focus, .tabsContainer .btn.focus, .tabsContainer .btn:active.focus, .tabsContainer .btn:hover, .tabsContainer .btn:focus {
  outline: none;
  outline-offset: -2px;
  background-color: unset ;
  border-color: unset ;
  color: unset ;
}
.search-table{
table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  background: #fff;

  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius:0.3vw; 
}
thead, tbody, tr, th, td { display: block; }

thead tr {
   
    width: 100%;
    
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.table-body {
    height: 63vh;
}
tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 6.6%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
    height: 2vw;
}
th {
 background-color: #b4c4d3;
    padding: 0.6vh 0.7vw;
    text-align: center;
}
td {
    padding: 0.8vh 0.4vw;
    border-bottom: 0.1vw solid #ddd;
    text-align: center;
    padding-left:0vw;
}

tr:hover {
  background-color: #d5ebf9
}

.scroll .mCSB_inside > .mCSB_container{
  margin-right: 0vw !important;
  margin-top: 0vw !important;
}
.scroll{
  height: 63vh;
}
}
.Insured-table{
  table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  background: #fff;

  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius:0.3vw; 
}
thead, tbody, tr, th, td { display: block; }

thead tr {
   
    width: 100%;
    
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.table-body {
    height: 60vh;
}
tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 7.69%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
    height: 2vw;
}
th {
 background-color: #b4c4d3;
    padding: 0.6vh 0.7vw;
    text-align: center;
}
td {
    padding: 0.8vh 0.4vw;
    border-bottom: 0.1vw solid #ddd;
    text-align: center;
    padding-left:0vw;
}

tr:hover {
  background-color: #d5ebf9
}

.scroll .mCSB_inside > .mCSB_container{
  margin-right: 0vw !important;
}
.scroll{
  height: 59vh;
}
}
.search-component-container{
  background: #e6e6e6
}