
 .product_filter {
          position: absolute;
          background: #4997d0;
          border: 1px solid #4997d0;
          border-radius: 5px;
              padding: 1.4vh 0.7vw;
            margin-top: 0.4vh;
          display: none;
           z-index: 999;
          .product_filter_inner {
            background: #ffffff;
            padding: 0.4vh 0.2vw;
                input[type="checkbox"]{
                     margin: 0.8vh 0.4vw;
                          }
            ul{
              padding: 0vw;
              li {
                list-style: none;
                   line-height: 3vh;
                  padding: 0 0.6vw;
                display: flex;
              }
            }
          }
          .filter-footer{
                margin-top: 1.2vh;
                margin-left: 2.5vw;
            .btn {
              color: #fff;
              background: transparent;
              border: 1px solid #FFFFFF;
              border-radius: 25px;
              width: 5vw;
               height: 3.8vh;
               padding: 0.4vh 0.8vw;
            }
            .btn:hover {
  outline: none;
  outline-offset: -2px;
  background-color: #eee ;
  border-color: #eeeeee ;
  color: #4997d0;
}
          }
        }
.product_filter.open{
  display: block;
}

.btn-group {
  width: 34vw;
  p {
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  width: 100%;
  background: #fff;
  border-radius: 5px;
 
  box-shadow:2px 2px 2px 2px #CCCCCC;

  thead, tbody, tr, th, td {
    display: block;
  }
  thead {
    tr {
      width: 100%;
      background-color: #b4c4d3;
    }
    th {
      background-color: rgb(180, 196, 211);
     padding: 0.6vh 0.8vw;
      text-align: left;
    }
    td, th {
      width: 9.3vw; /* 19% is less than (100% / 5 cols) = 20% */
      display: inline-block;
    }
  }

  tbody {
    height: 62vh;

    td, th {
     width: 9.3vw; /* 19% is less than (100% / 5 cols) = 20% */
      float: left;
    }
    td {
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
        padding: 1vh 0vw;

    }
tr:hover td{
   background-color: #d5ebf9;
}
  }
}
  
.scroll .mCSB_inside > .mCSB_container {
  margin-right: 0vw !important;
}
   .my-leads-table,
  {
     .mCSB_container {
       margin-right: 1vw !important;
       margin-left: 1vw !important;
     }
   
   }
.form-control{
    height: 4.5vh;
    padding: 1vh 0.7vw;
    font-size: 0.8vw;
}
.scroll {
  height: 63vh;
}
.btn-default {
    color: #808080 !important;
}
.btn-default:hover {
    color: #808080 !important;
}

ul.my-leads-title {
  margin: 0vw;
  padding: 0vw;
  li {
    display: inline-block;
    padding: 0vw 1vw;
    font-size: 0.9vw;
    color: #808080;
    border-right: 1px solid #808080;
    text-align: center;
    p {
      display: block;
    }
    .btn-default {
      background-color: #fff;
      border-color: transparent;

    }

  }

  li:first-child {
    border: none;
  }
  li:nth-child(2) {
    border-left: 1px solid #808080;
  }
}

.my-leads-table {
  background-color: #FFFFFF;

  ::-webkit-scrollbar {
    width: 0.8vw;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #b3b3b3;;
    border-radius: 10px;
    background-color: #F5F5F5
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #b3b3b3;;
    background-color: #b3b3b3;
  }
}

.page-title:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 2vw solid white;
  left: 12vw;
  margin-top: -2vw;
}

ul.filter-list {
  margin-left: 0.5vw;
}

// .table-left, .table-right{
//   padding: 0 15px;
// }
// $maxdesktop: "(max-width: 1440px)";
// @media #{$maxdesktop} {
//   .scroll {
//     height: 62vh ;
//   }
//   btn-group {
//   width: 106%;

// }
// }

// $maxdesktop: "(min-width: 1600px)";
// @media #{$maxdesktop} {
//   .scroll {
//     height: 62vh ;
//   }
// }
// $maxdesktop: "(max-width: 1920px)";
// @media #{$maxdesktop} {
//   .scroll {
//     height: 67vh ;
//   }
// }
// $mindesktop: "(max-width: 768px)";
// @media #{$mindesktop} {
//   .scroll {
//     height: 66vh ;
//   }
// }
