<div class="page-title">
  <div class="row">
    <div class="col-xs-6">
      <div class="btn-group" role="group" aria-label="...">
        <ul class="my-leads-title">
          <li style="font-size: 1.2vw">
             <i class="icon topleads myleads"></i> My Leads
          </li>
          <li>
            Total Quotes
            <p>510</p>
          </li>
          <li>
            Pending Apps
            <p>510</p>
          </li>
          <li>
            Binds
            <p>510</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2 pull-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group" id="daterangepicker" daterangepicker (selected)="selectedDate($event, mainInput)">
                <span class="form-control uneditable-input"  name="daterange" >
                    {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                </span>
            <span class="input-group-btn">
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 pull-right text-right" style="font-size: 1.2vw;margin-top:0.3vw">
      {{MyLeads.length}} Results
    </div>
  </div>
</div>
<div class="my-leads-table">
  <table class="scroll">
    <thead>
    <tr>
      <th style="width:12% ;padding-left: 1.5vw" id="initial-date" appSort [sortObj]="['name','lastname']" [data]="MyLeads" key="date" [reverse]="false">Initial Date Contacted</th>
      <th appSort [sortObj]="['date','lastname']" [data]="MyLeads" key="name">Name</th>
      <th appSort [sortObj]="['date','name']" [data]="MyLeads" key="lastname">
        Product  <i class="icon topleads filter" id="filter-product" (click)="toggleFilter('prod')"></i>
        <div class="product_filter" [ngClass]="{'open':prodFilter}">
          <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <div class="select-all">
              <input type="checkbox"> Select All
            </div>
            <ul class="filter-list">
              <li><input type="checkbox"> Automobile</li>
              <li><input type="checkbox"> Umbrella</li>
              <li><input type="checkbox"> ATV</li>
              <li><input type="checkbox"> Boat Owners</li>
              <li><input type="checkbox"> Classic Cars</li>
              <li><input type="checkbox"> Dwelling Fire</li>
              <li><input type="checkbox"> Watercraft</li>
              <li><input type="checkbox"> Bus Conversion</li>
            </ul>
          </div>
          <div class="filter-footer">
                <button class="btn btn-outline-dark btn-sm" (click)="toggleFilter('leadProd')">ok</button>
                <button class="btn btn-outline-dark btn-sm" (click)="toggleFilter('leadProd')">Cancel</button>
              </div>

        </div>
      </th>
      <th key="quote">Phone Number</th>
      <th style="width:8% " key="allstatus">
        State <i class="icon topleads filter" id="filter-state" (click)="toggleFilter('state')"></i>
        <div class="product_filter" [ngClass]="{'open':stateFilter}">
          <div class="product_filter_inner" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <div>
              <input type="checkbox"> Select All
            </div>
            <ul class="filter-list">
              <li><input type="checkbox"> CA</li>
              <li><input type="checkbox"> AZ</li>
              <li><input type="checkbox"> MO</li>
              <li><input type="checkbox"> TX</li>
              <li><input type="checkbox"> NJ</li>
              <li><input type="checkbox"> NY</li>
              <li><input type="checkbox"> IL</li>
              <li><input type="checkbox"> GA</li>
            </ul>
          </div>
          <div class="filter-footer">
                <button class="btn btn-outline-dark btn-sm" (click)="toggleFilter('leadProd')">OK</button>
                <button class="btn btn-outline-dark btn-sm" (click)="toggleFilter('leadProd')">Cancel</button>
              </div>
        </div>
      </th>
      <th key="docusign"style="padding-left:1vw">Zip Code</th>
      <th key="source">Status</th>
      <th key="source">Source</th>
      <th key="source">Insured#</th>
      <th key="followup"  >Follow-Up</th>

    </tr>
    </thead>
    <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <tr  *ngFor="let lead of MyLeads; let i = index">
      <td style="width:11%; padding-left:0.4vw">{{lead.date}}</td>
      <td style="padding-left: 1vw;"> <a [attr.id]="'show-lead-' + (i + 1)" (click)="showLead(lead)"><strong>{{lead.name}}</strong></a></td>
      <td style="padding-left: 1.3vw;">{{lead.lastname}}</td>
      <td style="padding-left:1.6vw"><a href="javascript:void(0)"><strong>9876543210</strong></a></td>
      <td style="padding-left:2vw"tooltip="xyx"> xyz</td>
      <td style="padding-left: 0.8vw;" tooltip="xyx" >xyz</td>
      <td style="padding-left: 1vw;" tooltip="xyx">xyz</td>
      <td style="padding-left:1.3vw"tooltip="xyx">xyz</td>
      <td style="padding-left: 1.3vw;"  tooltip="xyx">xyz</td>
      <td style="padding-left: 1.5vw;"  tooltip="xyx">xyz</td>
    </tr>
    </tbody>
  </table>
  <!--<table width="100%">
  <thead>
    <!--<tr appSort [sortObj]="SortObject" [data]="MyLeads">-->
  <!-- <tr>
      <th width="11%" appSort [sortObj]="SortObject" [data]="MyLeads" key="date">Initial Date Contacted</th>
      <th width="11%" key="name">Name</th>
      <th width="11%" key="product">Product</th>
      <th width="11%" key="quote">Quote Status</th>
      <th width="11%" key="allstatus">App Status</th>
      <th width="11%" key="docusign">Docusign</th>
      <th width="11%" key="source">Source</th>
      <th width="11%" key="followup">Follow-Up</th>
      <th width="11%" key="priority">Priority</th>
    </tr>
  </thead>
</table>-->
  <!--<p>{{SortObject | json}}</p>-->
  <!--<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="scroll">
  <table class="table table-layout-fixed">
    <tbody>
      <tr (click)="showLead(lead)" *ngFor="let lead of MyLeads">
        <td>{{lead.id}}</td>
        <td>{{lead.name}}</td>
        <td>{{lead.lastname}}</td>
        <td>{{lead.username}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>-->
</div>
