.source-modal {
  min-width: 35vw;
}
.source-modal .modal-footer .btn {
  background-color: #0086c8;
  display: block;
  margin: 0 auto;
  color: #fff;
  box-shadow: unset;
  font-size: 1vw;
  padding: 1vh 1.5vw;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}
.source-modal .modal-title {
  font-size: 1.8vw;
}
.source-modal-body{
  background: #FFFFFF;
  color: #999999;
  padding: 1vh 0.7vw;
}
ul.left-side-source {
  padding: 0;
  list-style: none;
  height: 9vh;
}
ul.left-side-source::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;

}

ul.left-side-source::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

ul.left-side-source::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #b3b3b3;
}
input.source {
  height: 2vh;
  margin-bottom: 10px;
}
.modal-header, .modal-body {
  border-bottom: unset;
  padding: 0 1vw;
}
.source-left-side {
  border-right: 2px solid #a4a4a4;
}
button.fa.fa-clock-o {
  border: unset;
  background: transparent;
  font-size: 1.2vw;
}
