<div class="source-modal" >
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon campaign source"></i> Source</h4>
  <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true" id="close-source-modal" (click)="modelRef.hide()">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="source-modal-body">
        <div class="row ">
          <div class="col-sm-6 source-left-side">
            <input class="add-lead-textbox source" placeholder="Source">

            <ul class="left-side-source" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
              <li>Google</li>
              <li>Social Media</li>
              <li>Paid Search</li>
              <li>Yelp</li>
              <li>Display</li>
            </ul>
          </div>
          <div class="col-sm-6 source-right-side">
            <p>Paid Search marketing source is for searches that came from clicking on apaid search ad from Goiogle or bing</p>
          </div>
          </div>
    </div>

  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-outline-dark pull-right" >select</button>
  </div>
</div>


