.container {
  width: 98%;
  border-radius: 15px;
}

.navbar {
  background: transparent;
  border: none;
  margin-bottom: 0vw;
  width: 93vw;
  .navbar-nav {
    //width: 80%;
    display: inline-block;
    vertical-align: middle;

  }
  .navbar-nav>li>a {
    padding-top: 0.8vw;
    padding-bottom: 0.5vw;
    line-height: 1.4vw;
}
  ul{
    display: flex;
    flex-direction: row;
    width: 96vw;
    justify-content: space-between;
    li {
         width: 10vw;
    text-align: center;
    font-size: 0.7vw;
    background: transparent; 
    padding: 0vw 2vw;

      a.active:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-bottom: 1vw solid #eeeeee;
        left: 2vw;
        margin-top: 4.5vw;
        color: #fff;

      }
      a.active {
        background-color: #0066a6;
      }

      a {
        color: #eee;
        position: relative;
        div.logo {
       margin: 0 auto;
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 1px;
    padding-top: 0.54vw;
    padding-right: 0.3vw;
    background: white;
    border-radius: 100%;
    display: block;
    img{
           // margin-top: 1vw;
      width: 2.3vw;
    height: 2.4vw;
    margin-left: 2px;
    }
}
           
        div.count {
         width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    position: absolute;
    left: 1vw;
    top: 0.7vw;
        }
      }
      a:hover {
        color: #fff;
        cursor: pointer;
      }
    }
    li:first-child{
      padding-left: 0.5vw;
    }
  }
  a.navbar-brand {
    color: #FFF; 
    display: inline-block;
    vertical-align: middle;
   img{
     margin-top: 0.5vw;
    width: 12.033vw;
    margin-left: -2vw;
    height: 3.125vw;
          }
  }

  .glyphicon {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 300% !important;
  }
}
