<div class="container" #fas>
  <div id="top-nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-xs-12">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="javascript:void(0);"><img id="app-logo" src="{{app_logo}}"/></a></li>
            <li *ngFor="let item of groups; let index = index" id="nav_{{index}}" class="justify-content-center {{item.label}}">
              <a [class.active]="index == activeIndex" [ngClass]="{'active': selectedItem == index}" [attr.id]="'fas-menu-' + (index + 1)" (click)="menuClick(item,index)">
                <div class="bg-red count" [hidden]="index !== 1">
                  <strong style="line-height: 1.6vw;color:white">8</strong>
                </div>
                <div class="logo">
                  <img src="{{item.imageSrc}}" />
                </div>
                <span style="display: block;" class="row">{{item.label}}</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</div>

<app-workspace [selectedIndex]="selectedItem" [recent]="recent"></app-workspace>