<div class="container">
    <div class="row">
        <form role="form" [formGroup]="userForm">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td *ngFor="let field of _fields">
                            <div class="form-group">
                                <label for="InputAssignee">Enter {{field}}</label>
                                <div class="input-group">
                                    <input formControlName="{{field}}" type="field" placeholder="Your field">
                                    <!--<input type="text" class="form-control" name="Input{{field}}" id="Input{{field}}" placeholder="Enter {{field}}" required="" #Input{{field}}>-->
                                    <span class="input-group-addon"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary pull-right" value="Submit" (click)="search()">
                            <!--<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary pull-right" (click)="search(InputAssignee.value, InputLead.value, InputProduct.value, InputPriority.value, InputStatus.value, InputCampaign.value)">-->
                            <input type="reset" name="reset" id="reset" value="Reset" class="btn btn-primary pull-right" (click)="reset()">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
