<!--The whole content below can be removed with the new code.-->
<app-fas></app-fas>
<!--<router-outlet></router-outlet>-->
<!-- <div class="container"> -->
	<!-- <app-main></app-main> -->
<!-- </div> -->
<app-sticky-menu></app-sticky-menu>

<!--<app-ingenius></app-ingenius>-->
