<div class="view-selector-container">
  <tabset class="view-selector-page">
    <tab *ngFor="let tab of Tabs; let i = index" [active]="tab.active" (select)="changeTab(i)" (deselect)="tab.active = false" [customClass]="tab.customClass">
       <ng-template tabHeading> <i class="icon leads-close" (click)="remove(i)"></i> {{tab.name}}</ng-template>
    </tab>
  </tabset>

  <div class="more-button">
    <p>More Tabs</p>
    <button class="btn btn-default"  [disabled]="PageNo <= 1" (click)="changePage('dec')"><i class="fa fa-arrow-left"></i></button>
    <button class="btn btn-default"   [disabled]="PageNo === getLatPage()" (click)="changePage('inc')"><i class="fa fa-arrow-right"></i></button>
  </div>
</div>