.view-selector-container{
  .more-button {
    position: absolute;
    right: 0vw;
 
    top: -1.2vh;
  }
  .more-button p{
    margin: 0vw;
  }
  tabset{
    width: 90%;
    display: block;
    float: left;
  }
.btn-default[disabled]{
      color: lightgrey !important;
    background-color: gray !important;
    border-color: #adadad !important;
}
.btn-default{
         color: white;
    background-color: #3E8CC6;
    cursor: pointer;
}
}
// $maxdesktop: "(max-width: 1280px)";
//   @media #{$maxdesktop} {
//     .more-button {
//       position: absolute;
//       right: -450px;
//       //left:100px;
//       top: -50px;
//     }
//     .more-button p{
//       margin: 0px;
//     }
//   }