.col {
  padding-left: 1vw;
  padding-right: 1vw;
}
.profile-title {
    margin-bottom: 0.4vh;
    margin-left: 1vw;
    padding: 0.6vh 0.3vw;
    display: inline-block;
    font-size: 150%;
    color: gray;
}


.username{
  border-radius:0.2vw;
  border: 0.1vw solid #eee;
}
.profile-content-card {
  background-color: white;
    min-height: 40vh;
    max-height: 58vh;
    width: 100%;
    padding: 0.2vh 0.1vw;
    display: inline-block;
    vertical-align: top;
    margin: 0.4vh 0.2vw 0.4vh 0.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
    background: #fff;
   // border: 0.1vw solid #c2c2c2;

  .title {
    font-size: 120%;
    margin-left: 1vw;
    margin-top: .6vh;
  }

  .info-card-content {
    .form-group {
      margin-bottom: 0.4vh;
      .row {
        padding: 0 0vw;
      }
    }
    .file-chooser{
      position: relative;
      margin-top: 2.4vh;
      input[type="file"] {
        width: 6vw;
        opacity: 0;
        position: absolute;
      }
      >div{
        float: left;
        margin: 0 0.2vw;
      }
    }
    .picture.circle {
      border-radius: 100%;
      border: 0.1vw solid #808080;
      padding: 0 !important;
    }
    
  }
  .goals-card-content {
    height: 10vh;
  }
  
}
.control-buttons{
  .btn{
    margin: 2vh 0.6vw;
  }
}

.profile-content-card.auto-height {
  min-height:auto;
}

.btn-group-sm > .btn, .btn-sm {
     padding: 0.2vh 1.3vw;
    font-size: 80%;
    line-height: 1.5;
    border-radius: 0.2vw;
}

.quicklinks td {
    padding-left: 0.5vw;
    padding-top:0.4vh ;
    border: 0vw;
    height: 2vh;
    .remove-link{
          color: gray;
    font-size: 1vw;
    }
}

.table.quicklinks {
  thead {
    background:   #d5ebf9;
    margin-bottom:0.6vh;
 
;
    tr {
      padding:0vw !important;
      th {
        border: 0vw;
      }

    }
  }
}
.form-control.name{
  width: 55%;
}
.form-control.url{
  width: 85%;
}

.count{
  margin-left: 23vw;
  font-size: 100%;
}
.maxcount{
  margin-left: 3vw;
  font-size: 100%;
}

.profile-content-card.sales {
  border-top: 1vh solid #39B54A;
  border-radius: 0.2vw;


}

.profile-content-card.links {
  border-top: 1vh solid #FF1D25;
  border-radius: 0.2vw;

  .form-control {
    height: 2.5vh ;
   
  }
   

}
// .table>thead>tr>th {
//     padding: 0.1vw !important;
// }
.profile-content-card.person-info {
  border-top: 1vh solid #F7931E;
  border-radius: 0.2vw;
  width: 100%
  
}

.profile-body {
  background: #fff;
  border-top: 1vh solid #e74c38;
  border-radius: 0.2vw;
  min-height:80vh;
  max-height: 83vh;
  border-bottom-left-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
}

.profile-content {
  padding: 2.5vh 1.3vw;
}
.icon.profile.profileedit {
  background-size: auto;
  background-position: center center;
  width: 3.5vw;
}
.form-horizontal .control-label {
  padding-top: 0.9vh;
  margin-bottom: 0;
  padding-left: 2vw;
  text-align: left;
}
.text{
 padding-right:1.7vw;
}
.qlinks{
  padding-right:0vw;
}
.profile-content-card .info-card-content .picture.circle {
  border-radius: unset;
  border: unset;
  float: left;
  margin-left: 1.2vw;
}
.icon.profile.image.circle {
   background-size: auto;
    background-position: center center;
    height: 10vh;
    border: 0.1vw solid #c2c2c2;
    border-radius: 100%;
    margin-top: 3vh;
    width: 5vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
}
.btn{
  border-radius: 1.45vw;
}
//.btn-default.hvr:hover,
.control-buttons .btn:hover{
 //outline: none;
  outline-offset: -2px;
  background-color: #358bd6 ;
  border-color:white ;
  color:  white
}
.control-buttons .btn {
  color: #358bd6;
  background: white;
  border-color: #358bd6;
}
.icon.profile.upload {
      background-size: auto;
    width: 5vw;
    height: 10vh;
    margin-left: 2vw;
}
.profile-upload .btn {
  background: #cccccc;
  border-color: #cccccc;
  color: #808080;
}
.timezone option{
  
  width:3.3vw;
}
