<!--<ul class="profile-title">
      <li > <a><img src="assets/images/profile.png"/></a>Profile Settings </li>
       </ul>-->
<div class="profile-body">
  <div class="profile-title">
    <i class="icon profile picture"></i>Profile Settings
  </div>
  <div class="row profile-content">
    <div class="col col-sm-3" id="info-tile">
      <div class="profile-content-card person-info">
        <div class="title">Personal Information
          <i class="pull-right icon profile profileedit"
          id="profile-edit" (click)="edit('info')"></i></div>
        <div class="info-card-content">
          <form class="form-horizontal profile-form">
            <div class="col-sm-12">
              <span class="strong-font"><b>Name:</b> </span>
              <span>{{ProfileInfo.firstName}} {{ProfileInfo.lastName}}</span>
            </div>
            <div class="col-sm-12">
              <span class="strong-font"><b>Display Name:</b></span>
              <span *ngIf="!Edit.info">{{ProfileInfo.appUserDisplayName}}</span>
              <input *ngIf="Edit.info" class="username" type="text" placeholder="display name"
                     id="info-displayname-input"
                     [(ngModel)]="ProfileInfo.appUserDisplayName" name="displayname">
            </div>

            <div class="col-sm-12">
              <span class="strong-font"><b>Phone Extention:</b></span>
              <span>{{ProfileInfo.phoneExtension}}</span>
            </div>

            <div class="col-sm-12">
              <span class="strong-font"><b>Office Location:</b></span>
              <span>{{ProfileInfo.officeLocation}}</span>
            </div>
            <div class="col-sm-12">
              <span class="strong-font"><b>Time Zone:</b></span>
              <span *ngIf="!Edit.info">{{ProfileInfo.appUserTimeZone}}</span>
              <select *ngIf="Edit.info" class="username" type="text" class="timezone"
                      id="info-timezone-input"
                      [(ngModel)]="ProfileInfo.appUserTimeZone" name="timezone">
                <option>Eastern</option>
                <option>Central</option>
                <option>Mountain</option>
                <option>Pacific</option>
              </select>
            </div>

            <div class="form-group">
              <div class="picture circle" *ngIf="!Edit.info">
                <i class="icon profile image circle" *ngIf="!ProfileInfo.picture"></i>
                <img *ngIf="ProfileInfo.picture" src="{{ProfileInfo.picture}}">
              </div>

              <div *ngIf="Edit.info" class="row">
                <label class="col-sm-12 control-label">
                  <div>
                    <i class="icon profile image" *ngIf="!ProfileInfo.picture"></i>
                    <img *ngIf="ProfileInfo.picture" src="{{ProfileInfo.picture}}">
                  </div>
                </label>
                <div class="col-sm-12">
                  <div class="row">
                    <label class="col-sm-4 control-label">
                      <div class="picture">
                        <i class="icon profile upload" *ngIf="!ProfileInfo.picture"></i>
                      </div>
                    </label>
                    <div class="file-chooser col-sm-8">
                      <div class="profile-upload">
                        <input type="file" (change)="selectFile($event)" accept="image/*"
                               id="info-profile-picture-input">
                        <button class="btn btn-primary">Choose File</button>
                        <button class="btn btn-default" id="info-profile-picture-default" (click)="defaultPicture()">Default</button>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 control-buttons" *ngIf="Edit.info">
                <button class="btn pull-right btn-primary  btn-sm" (click)="save('info')" id="profile-save">Save</button>
                <button class="btn pull-right btn-default  btn-sm" (click)="cancel('info')" id="profile-cancel">Cancel
                </button>
              </div>
            </div>
          </form>
          <!--<label> Name </label><input type="text" name="salesgoals">
          <label>Display Name </label><input type="text" name="salesgoals">
          <label> Phone Ext </label><input type="text" name="salesgoals">
          <label> Office Location </label><input type="text" name="salesgoals">
          <label>Time-Zone </label><input type="text" name="salesgoals">-->
        </div>
      </div>
    </div>
    <div class="col col-sm-3" id="goals-tile">
      <div class="profile-content-card sales">
        <div class="title">Sales Goals
          <span class="pull-right icon profile profileedit"
                id="sales-edit" (click)="edit('sales')"></span>
        </div>
        <div class="goals-card-content">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-6 control-label">Unit Sales:</label>
              <div class="col-sm-6 text">
                <span *ngIf="!Edit.sales" class="control-label">{{ProfileInfo.monthlyNoOfSalesGoal}}</span>
                <input *ngIf="Edit.sales" type="text" class="form-control" placeholder="Unit Sales" id="unitsales-input"
                       [(ngModel)]="ProfileInfo.monthlyNoOfSalesGoal" name="unitsales">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Bound Premium:</label>
              <div class="col-sm-6 text">
                <span *ngIf="!Edit.sales" class="control-label">{{"$"}}{{ProfileInfo.monthlyBoundPremiumGoal}}</span>
                <input *ngIf="Edit.sales" type="text" class="form-control " placeholder="Premium" id="premium-input"
                       [(ngModel)]="ProfileInfo.monthlyBoundPremiumGoal" name="premium">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 control-buttons" *ngIf="Edit.sales">
                <button class="btn pull-right btn-primary  btn-sm" (click)="save('sales')" id="sales-save">Save</button>
                <button class="btn pull-right btn-default  btn-sm" (click)="cancel('sales')" id="sales-cancel">Cancel
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col col-sm-6" id="links-tile">
      <div class="profile-content-card links">
        <div class="title">Quick Links
          <span class="count">10/10</span>
          <span class="maxcount"> max 10</span>
          <span class=" pull-right icon profile profileedit" id="links-edit" (click)="edit('links')"></span>
        </div>
        <div class="links-card-content">
          <table class="table quicklinks">
            <thead>
            <tr>
              <th></th>
              <th>Display Name</th>
              <th>URL</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let q of QuickLinks; let i = index">
              <td [attr.id]="'links-number-td-' + (i + 1)" style="text-align: right">{{i + 1}}{{"."}}</td>
              <td>
                <span *ngIf="!Edit.links">{{q.displayName}}</span>
                <input *ngIf="Edit.links" class="form-control name" [attr.id]="'links-displayname-input-' + (i + 1)"
                       [(ngModel)]="q.displayName" name="{{q.displayName}}{{i}}">
              </td>
              <td>
                <span *ngIf="!Edit.links">{{q.uriLink}}</span>
                <input *ngIf="Edit.links" class="form-control url" [attr.id]="'links-url-input-' + (i + 1)"
                       [(ngModel)]="q.uriLink" name="{{q.uriLink}}">
                 <!--<button *ngIf="Edit.links" class="icon profile close" >
                 </button>-->
              </td>
              
              <td>
                <i *ngIf="Edit.links" class="fa fa-times-circle remove-link" (click)="deleteLink(q)"></i>

              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="Edit.links">
            <tr>
              <td colspan="3" class="control-buttons qlinks">
                <button class="btn btn-primary  btn-sm pull-right" (click)="save('links')" id="links-save">Save</button>
                <button class="btn pull-right btn-default  btn-sm" (click)="cancel('links')" id="links-cancel">Cancel
                </button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
