/*
<div id="add-leads-form"></div>
<div id="leads-content">This is test</div>
*/
#add-leads-form, #leads-content{
    display: inline-block;
    vertical-align: top;
    padding:0.5rem;
}
#add-leads-form{
    width: 30rem;
    min-height: 50rem;
    height: 50rem;
    overflow-y: auto;
    background: #eee;
}

