
<app-top-control #topEvents  (setView)="showView($event)" ></app-top-control>
<app-my-leads id="lead-content" [hidden]="currentComponent !== 'my-leads'" (showMyLead)="topEvents.renderLead($event)"></app-my-leads>
<app-unassigned-leads [hidden]="currentComponent !== 'unassigned'"(showMyLead)="topEvents.renderLead($event)"></app-unassigned-leads>
