<div class="container-fluid">
  <div class="row new-lead-header">
    <div class="col-xs-12">
      <h3><i class="icon topleads groupuser text-warning"></i> Leads</h3>
    </div>
  </div>
  <div class="row new-lead-content">

    <div [hidden]="EditLeftForm" class="col-xs-4 leftpanel">
      <div class="row left-header">
        <div class="col-xs-12">
          <div class="inner">
            <div class="col-xs-9 bg-gray leads-left-head">
              <div class="row">
                <div class="col-xs-6">
                  <div class="leads-campaign">
                    <i class="icon campaign campaign"></i> Campaign:<span class="control-label">Google</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="leads-source">
                    <i class="icon campaign source" id="source-data"></i> Source <span class="control-label">Mobile</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 leads-referralnumber">
                  <i class=" icon campaign referral"></i> Referral: <input class="add-lead-textbox sm" placeholder="Enter referel ID#">
                </div>
              </div>
            </div>
            <div class="col-xs-3 bg-blue" style="font-size: 0.8vw">
               <div class="row">
                  <div class="col-xs-4"><i class="icon sfollowup" (click)="scheduleFollowUp()"></i> </div>
                  <div class=col-xs-8 style="padding:0;text-align:left">Schedule Follow-Up</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-lead-left-form" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="edit-fields row pull-right">
          <div class="col-xs-12  "><i class="icon edit" (click)="edit()"></i></div>
        </div>
        <div class="row contact-name">
          <div class="col-xs-3">
            <span class="icon user"></span>
          </div>
          <div class="col-xs-7">
            <input type="text" class="add-lead-textbox form-control" placeholder="first name" value="Jhon" />
            <input type="text" class="add-lead-textbox form-control" placeholder="last name" value="Smith" />
          </div>
        </div>
        <div class="row contact-email" *ngFor="let email of content.email; let i = index">
          <div class="col-xs-3"><span class="icon email"></span></div>
          <div class="col-xs-7">
            <input type="email" class="add-lead-textbox form-control" placeholder="someone@somewher.com" value="someone@somewhere.com"
            />
          </div>
          <div class="col-xs-1">
            <span class=" cursor-pointer icon plus" *ngIf="i === 0" id="add-email" (click)="addEmail()"></span>
            <span class=" cursor-pointer icon minus" *ngIf="i !== 0" [attr.id]="'remove-email-' + i" (click)="removeEmail(i)"></span>
          </div>

        </div>
        <div class="row" *ngFor="let phone of content.phone; let i = index">
          <div class="col-xs-2">
            <span id="make-call" (click)="makeCall(content.phone)" class="fa fa-phone cursor-pointer" [hidden]="i !== 0"></span>
          </div>
          <div class="col-xs-1">
            <i class="icon star" style="margin-left:0.3vw" [ngClass]="{'yellowstar':phone.star , 'star': !phone.star}" aria-hidden="true"
              id="add-star" (click)="addStar(phone)"></i>
          </div>
          <div  class="col-xs-7">
            <input type="text" *ngIf="phone.type === 'Work'" class="lead-phone add-lead-textbox form-control office" placeholder="555-555-5555"  value="555-555-5555" 
            />
            <input type="text" style="margin-left:0.2vw" *ngIf="phone.type === 'Work'" class="lead-phone add-lead-textbox form-control office"
              placeholder="Ext"  value="Ext"  />
            <input type="text" *ngIf="phone.type === 'home'" class="lead-phone add-lead-textbox form-control home" placeholder="555-555-5555"  value="555-555-5555" 
            />
            <input type="text" *ngIf="phone.type === 'Mobile'" class="lead-phone add-lead-textbox form-control home" placeholder="555-555-5555"  value="555-555-5555" 
            />
            <select class="form-control add-lead-textbox phonetype" name="phonetype{{i}}" id="change-phone-type" (change)="phoneTypeChange($event,phone)">
                <option value="home">Home</option>
                <option value="Work">Work</option>
                <option value="Mobile">Mobile</option>
              </select>
          </div>
          <div class="col-xs-1">
            <span class=" cursor-pointer icon plus" *ngIf="i === 0" id="add-phone" (click)="addPhone()"></span>
            <span class=" cursor-pointer icon minus" *ngIf="i !== 0" [attr.id]="'remove-phone-' + i" (click)="removePhone(i)"></span>
          </div>
        </div>
        <div class="left-paneladdress">
          <div class="row lead-address">
            <div class="col-xs-3">
              <span class="cursor-pointer icon map" (click)="maps($event)"></span>
              <!--<span class="fa fa-map-marker cursor-pointer" (click)="maps()"></span>-->
            </div>
            <div class="col-xs-5">
              <input type="text" class="add-lead-textbox form-control" placeholder="Address"  value="Address" >
            </div>
            <div class="col-xs-2">
              <input type="text" class="add-lead-textbox form-control" placeholder="Unit"  value="Unit" >
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row lead-street-address">
            <div class="col-xs-3"></div>
            <div class="col-xs-4">
              <input type="text" class="add-lead-textbox form-control" placeholder="City"  value="City" >
            </div>
            <div class="col-xs-3">
              <input type="text" class="add-lead-textbox form-control" placeholder="County"  value="County" >
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row lead-city-address">
            <div class="col-xs-3"></div>
            <div class="col-xs-3">
              <input type="text" class="add-lead-textbox form-control" placeholder="State"  value="State"  />
            </div>
            <div  class="col-xs-3">
              <input type="text" class="add-lead-textbox form-control" placeholder="Zip"  value="Zip"  />

            </div>
            <div class="col-xs-1">
              <i style="margin-left:-1vw" class="fa fa-check cursor-pointer"></i>
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-7" style="font-size: 1vw;color:gray">
              <p>Is mailing address the same?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-4">
              <input type="radio" checked="checked" /> Yes
            </div>
            <div class="col-xs-4">
              <input type="radio" /> No
            </div>
          </div>

          <div class="row" style="margin-top:1.5vw;">
            <div class="col-xs-3"><span class="icon language"></span></div>
            <div class="col-xs-4">
              <input type="radio" checked="checked" /> English
            </div>
            <div class="col-xs-4">
              <input type="radio" /> Spanish
            </div>
          </div>
          <div class="row" *ngFor="let prod of content.product; let i = index">
            <div class="col-xs-3"><span class="icon shoppingcart"></span></div>
            <div class="col-xs-7">
              <input type="text" class="add-lead-textbox form-control search" placeholder=" Auto"  value="Auto" >
            </div>
            <div class="col-xs-1">
              <span class=" cursor-pointer icon plus" *ngIf="i == 0" id="add-product" (click)="addProduct()"></span>
              <span class=" cursor-pointer icon minus" *ngIf="i !== 0" [attr.id]="'remove-product-' + i" (click)="removeProduct(i)"></span>
            </div>

          </div>
        </div>

        <hr/>
        <!--<div class="leftpanel-quote">
          <div class="row">
            <div class="col-xs-3">
              Quote ID:
            </div>
            <div class="col-xs-7">
              <input type="text" class="add-lead-textbox form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              Insured #:
            </div>
            <div class="col-xs-7">
              <input type="text" class="add-lead-textbox form-control" />
            </div>
          </div>
          <div class="row" style="margin-top: 3vh">
            <div class="col-xs-3">
              <input type="radio" /> Lead
            </div>
            <div class="col-xs-3">
              <input type="radio" /> Insured
            </div>
          </div>
        </div>
        <hr>-->
        <div class="leftpanel-bill">
          <div class="row">
            <div class="col-xs-3">
              <i class="icon building"></i>
            </div>
            <div class="col-xs-7">
              <p class="m-p-0">Business</p>
              <div class="form-group m-p-0">
                <input class="form-control add-lead-textbox" placeholder="DBA Name"  value="DBA Name" >
              </div>
              <div class="form-group m-p-0">
                <select class="form-control add-lead-textbox">
                      <option>Legacy Entity</option>
                    </select>
              </div>
              <div class="form-group">
                <select class="form-control add-lead-textbox">
                      <option>Type of Business</option>
                    </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <i class="icon groupusers"></i>
            </div>
            <div class="col-xs-7">
              <div class="form-group m-p-0">
                <input class="form-control add-lead-textbox" placeholder="Number of Employees"  value="Number of Employees" >
              </div>
              <div class="form-group">
                <input class="form-control add-lead-textbox" placeholder="Company Website"  value="Company Website"  >
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div [hidden]="!EditLeftForm" class="col-xs-4 leftpanel">
      <div class="row left-header">
        <div class="col-xs-12">
          <div class="inner">
            <div class="col-xs-9 bg-gray leads-left-head">
              <div class="row">
                <div class="col-xs-6">
                  <div class="leads-campaign">
                    <i class="icon campaign campaign"></i> Campaign:<span class="control-label">Google</span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="leads-source">
                    <i class="icon campaign source" id="source-data" (click)="sourceData()"></i> Source <span class="control-label">Mobile</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 leads-referralnumber">
                  <i class=" icon campaign referral"></i> Referral: <input class="add-lead-textbox sm" placeholder="Enter referel ID#"
                    value="345" [disabled]="EditLeftForm" />
                </div>
              </div>
            </div>

            <div class="col-xs-3 bg-blue" style="font-size: 0.9vw">
               <div class="row">
                  <div class="col-xs-4"><i class="icon sfollowup" (click)="scheduleFollowUp()"></i> </div>
                  <div class=col-xs-8 style="padding:0;text-align:left">Schedule Follow-Up</div>
                </div>
            </div>
      

          </div>
        </div>
      </div>
      <div class="new-lead-left-form" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="edit-fields row pull-right">
          <div class="col-xs-12  "><i class="icon edit" (click)="edit()"></i></div>
        </div>
        <div class="row contact-name">
          <div class="col-xs-3">
            <span class="icon user"></span>
          </div>
          <div class="col-xs-7">
            <input type="text" class="add-lead-textbox form-control" placeholder="first name" value="Jhon" [disabled]="EditLeftForm"
            />
            <input type="text" class="add-lead-textbox form-control" placeholder="last name" value="Smith" [disabled]="EditLeftForm"
            />
          </div>
        </div>
        <div class="row contact-email" *ngFor="let email of content.email; let i = index">
          <div class="col-xs-3"><span class="icon email"></span></div>
          <div class="col-xs-7">
            <input type="email" class="add-lead-textbox form-control" placeholder="someone@somewher.com" value="Johnsmit@gmail.com" [disabled]="EditLeftForm"
            />
          </div>

        </div>
        <div class="row" *ngFor="let phone of content.phone; let i = index">
          <div class="col-xs-2">
            <span id="use-lead-make-call" (click)="makeCall(phone)" class="fa fa-phone cursor-pointer"></span>
          </div>
          <div class="col-xs-1">
            <i class="icon yellowstar" style="margin-left:0vw" aria-hidden="true"></i>
          </div>
          <div  class="col-xs-7">
            <input type="text" *ngIf="phone.type === 'Work'" disabled class="lead-phone add-lead-textbox form-control office" placeholder="555-555-5555"
              value="555-555-5555" />
            <input type="text" style="margin-left:0.2vw" disabled *ngIf="phone.type === 'Work'" class="lead-phone add-lead-textbox form-control office"
              placeholder="Ext" value="Ext" />
            <input type="text" *ngIf="phone.type === 'home'" disabled class="lead-phone add-lead-textbox form-control home" placeholder="555-555-5555"
              value="555-555-5555" />
            <input type="text" *ngIf="phone.type === 'Mobile'" disabled class="lead-phone add-lead-textbox form-control home" placeholder="555-555-5555"
              value="555-555-5555" />
            <select class="form-control add-lead-textbox phonetype" name="phonetype{{i}}" [(ngModel)]="phone.type" id="change-phone-type"
              (change)="phoneTypeChange($event,phone)" [disabled]="EditLeftForm">
                      <option value="home">Home</option>
                <option value="Work">Work</option>
                <option value="Mobile">Mobile</option>
            </select>
          </div>
        </div>
        <div class="left-paneladdress">
          <div class="row lead-address">
            <div class="col-xs-3">
              <span class="cursor-pointer icon map" (click)="maps($event)"></span>
              <!--<span class="fa fa-map-marker cursor-pointer" (click)="maps()"></span>-->
            </div>
            <div class="col-xs-5">
              <input type="text" class="add-lead-textbox form-control" placeholder="Address" value="17785 Center Court" [disabled]="EditLeftForm"
              />
            </div>
            <div class="col-xs-2">
              <input type="text" class="add-lead-textbox form-control" placeholder="Unit" value="401" [disabled]="EditLeftForm" />
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row lead-street-address">
            <div class="col-xs-3"></div>
            <div class="col-xs-4">
              <input type="text" class="add-lead-textbox form-control" placeholder="City" value="Cerritos" [disabled]="EditLeftForm" />
            </div>
            <div class="col-xs-3">
              <input type="text" class="add-lead-textbox form-control" placeholder="County" value="Cerritos" [disabled]="EditLeftForm"
              />
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="row lead-city-address">
            <div class="col-xs-3"></div>
            <div class="col-xs-3">
              <input type="text" class="add-lead-textbox form-control" placeholder="State" value="CA" [disabled]="EditLeftForm" />
            </div>
            <div  class="col-xs-3 leads-check">
              <input type="text" class="add-lead-textbox form-control" placeholder="Zip" value="90703" [disabled]="EditLeftForm" />

            </div>
            <div class="col-xs-1 leads-check">
              <i class="fa fa-check cursor-pointer" aria-disabled=""></i>
            </div>
            <div class="col-xs-1"></div>
          </div>
          <!--<div class="row">
              <div class="col-xs-3"></div>
              <div class="col-xs-7" style="font-size: 14px;color:gray">
                <p>Is mailing address the same?</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"></div>
              <div class="col-xs-4">
                <input type="radio" checked="checked" disabled /> Yes
              </div>
              <div class="col-xs-4">
                <input type="radio" disabled/> No
              </div>
            </div>-->

          <div class="row">
            <div class="col-xs-3"><span class="icon language"></span></div>
            <div class="col-xs-4">
              <input type="radio" [disabled]="EditLeftForm" /> English
            </div>
            <!--<div class="col-xs-4">
                <input type="radio"/> Spanish
              </div>-->
          </div>
          <div class="row" *ngFor="let product of content.product; let i = index">
            <div class="col-xs-3"><span class="icon shoppingcart"></span></div>
            <div class="col-xs-7">
              <input type="text" class="add-lead-textbox form-control search" placeholder=" Auto" value="Auto" [disabled]="EditLeftForm"
              />
            </div>
            <!--<div class="col-xs-1"><span class=" cursor-pointer icon plus"> </span>
              </div>-->
          </div>

          <hr style="border-color: #0c90d6;"/>
          <!--<div class="leftpanel-quote">
            <div class="row">
              <div class="col-xs-3">
                Quote ID:
              </div>
              <div class="col-xs-7">
                <input type="text" class="add-lead-textbox form-control" value="#12387" [disabled]="EditLeftForm" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                Insured #:
              </div>
              <div class="col-xs-7">
                <input type="text" class="add-lead-textbox form-control" value="#23456" [disabled]="EditLeftForm" />
              </div>
            </div>
            <div class="row" style="margin-top: 3vh">
              <div class="col-xs-3">
                <input type="radio" [disabled]="EditLeftForm" /> Lead
              </div>
              <!--<div class="col-xs-3">
                  <input type="radio"/> Insured
                </div>-->
            <!--</div>-->
         
          <!--<hr>-->
          <div class="leftpanel-bill">
            <div class="row">
              <div class="col-xs-3">
                <i class="icon building"></i>
              </div>
              <div class="col-xs-7">
                <p class="m-p-0">Business</p>
                <div class="form-group m-p-0">
                  <input class="form-control add-lead-textbox" placeholder="DBA Name" value="AIS" [disabled]="EditLeftForm" />
                </div>
                <div class="form-group m-p-0">
                  <select class="form-control add-lead-textbox" [disabled]="EditLeftForm">
                      <option>Legacy Entity</option>
                    </select>
                </div>
                <div class="form-group">
                  <select class="form-control add-lead-textbox" [disabled]="EditLeftForm">
                      <option>Type of Business</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <i class="icon groupusers"></i>
              </div>
              <div class="col-xs-7">
                <div class="form-group m-p-0">
                  <input class="form-control add-lead-textbox" placeholder="Number of employees" value="400" [disabled]="EditLeftForm" />
                </div>
                <div class="form-group">
                  <input class="form-control add-lead-textbox" placeholder="Company Website" value="WWW.AISINSURANCE.COM" [disabled]="EditLeftForm"
                  />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-5 topcontainer">
      <div class="row data-container1">
        <div class="lead-status-bar">
          <div class="col-xs-12 lead-user-details"><i style="margin-left:0vw" class="icon producer" aria-hidden="true"></i> Producer: <i style="margin-left:0vw" class="fa fa-circle green"
              aria-hidden="true"></i> Demond Jordan
          </div>
          <div class="col-xs-6">
            <ul class="new-lead-user-active-status">
              <li>Lead Status: <select style="border-radius: 0.2vw"><option>Active</option></select></li>
              <li>Quote Status: Active</li>
              <li>App Status: Active</li>
              <li>Extrenal Lead ID #: 123456</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="new-lead-user-date">
              <li>Lead Date: 06/22/2017</li>
              <li>Quote Date: 06/22/2017</li>
              <li>Bind Date: 06/22/2017</li>
              <li>Insured #: 123456</li>
              <li>Client Status: Prospect</li>

            </ul>
          </div>
          <div class="col-xs-12 lead-user-quote-url">Carrier Quote URL: <input type="text" value=" www.virtue.com/customer/abc12345"></div>
        </div>
      </div>
      <div class="row media_objects">
        <!--<tabset [justified]="true">
        <tab (select)="navstate = 'leadstate'" id="tab1">
          <ng-template tabHeading>
            <i  class="leads-producer icon"></i> Leads
          </ng-template>
          <table class="lead-refferal-table-date">
            <thead>
              <tr>
                <th style="padding-left: 0.5vw" width="20">Leads Date</th>
                <th width="20">Initial Date Contacted</th>
                <th width="20">Producer</th>
                <th width="20"style="padding-left: 1.2vw">Product</th>
                <th width="20">Status</th>
                <th width="20">Name</th>
                <th width="25">Source</th>
              </tr>
            </thead>
            <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
              <tr *ngFor="let lead of LeadsData">
                <td width="25" title="{{lead.date}}">{{lead.date}}</td>
                <td width="25" title="{{lead.initialdate}}">{{lead.initialdate}}</td>
                <td width="25" title="{{lead.producer}}">{{lead.producer}}</td>
                <td width="25" style="padding-left: 1.2vw" title="{{lead.product}}">{{lead.product}}</td>
                <td width="25" title="{{lead.status}}">{{lead.status}}</td>
                <td width="25" title="{{lead.name}}">{{lead.name}}</td>
                <td width="20" title="{{lead.status}}">{{lead.status}}</td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab (select)="navstate = 'quotestate'" id="tab2">
          <ng-template tabHeading>
            <i class="leads-quotestate icon"></i> Quote
          </ng-template>
          <table class="lead-refferal-table-date">
            <thead>
              <tr>
                <th style="padding-left: 0.5vw" width="20">Quote Type</th>
                <th width="20">Quote Term</th>
                <th width="20">Market</th>
                <th width="20">Paper Written</th>
                <th width="20">Quote Date</th>
                <th width="20">Quote Note</th>
                <th width="25">Premium</th>
                <th width="25">Product</th>
                <th width="25">Owner</th>
              </tr>
            </thead>
            <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
              <tr>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="Mike Millane"> Mike Millane </td>
                <td width="25" tooltip="Auto "> Auto </td>
                <td width="25" tooltip="Active"> Active </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="20" tooltip="Google"> Google </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
              </tr>
              <tr>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="Mike Millane"> Mike Millane </td>
                <td width="25" tooltip="Auto "> Auto </td>
                <td width="25" tooltip="Active"> Active </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="20" tooltip="Google"> Google </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
              </tr>
              <tr>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="Mike Millane"> Mike Millane </td>
                <td width="25" tooltip="Auto "> Auto </td>
                <td width="25" tooltip="Active"> Active </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="20" tooltip="Google"> Google </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
              </tr>
              <tr>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="Mike Millane"> Mike Millane </td>
                <td width="25" tooltip="Auto "> Auto </td>
                <td width="25" tooltip="Active"> Active </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="20" tooltip="Google"> Google </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
              </tr>
              <tr>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="06/12/2017"> 06/12/2017 </td>
                <td width="25" tooltip="Mike Millane"> Mike Millane </td>
                <td width="25" tooltip="Auto "> Auto </td>
                <td width="25" tooltip="Active"> Active </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="20" tooltip="Google"> Google </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
                <td width="25" tooltip="Jhon Smith"> Jhon Smith </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab (select)="navstate = 'policystate'" id="tab3">
          <ng-template tabHeading>
            <i class="leads-policy icon"></i> Policy
          </ng-template>
          <table class="lead-refferal-table-date">
            <thead>
              <tr>
                <th style="padding-left: 0.5vw"  width="20">Policy</th>
                <th width="20"style="padding-left: 1.5vw">Market</th>
                <th width="20">LOB</th>
                <th width="20">Product</th>
                <th width="20">Effective</th>
                <th width="20">Expiration</th>
                <th width="25">Status</th>
                <th width="25">owner</th>
                <th width="25">insured</th>
              </tr>
            </thead>
            <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
              <tr *ngFor="let plicy of PolicyData">
                <td width="25" title="{{plicy.date}}">{{plicy.date}}</td>
                <td width="25" title="{{plicy.initialdate}}">{{plicy.initialdate}}</td>
                <td width="25" title="{{plicy.producer}}">{{plicy.producer}}</td>
                <td width="25" title="{{plicy.product}}">{{plicy.product}}</td>
                <td width="25" title="{{plicy.status}}">{{plicy.status}}</td>
                <td width="25" title="{{plicy.name}}">{{plicy.name}}</td>
                <td width="20" title="{{plicy.status}}">{{plicy.status}}</td>
                <td width="20" title="{{plicy.status}}">{{plicy.status}}</td>
                <td width="20" title="{{plicy.status}}">{{plicy.status}}</td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>-->
        <div class="media" (click)="createNewQuote()">
          <div class=" media-left">
            <i class="userleads quote "></i>
          </div>
          <div class=" media-body">
            <h4 class="media-heading">Create new quote</h4>
            Create new quote
          </div>
          <div class="media-right">
             <i class="userleads arrow " (click)="LeadData()" ></i>
          </div>
      </div>

        <div class="media">
          <div class=" media-left">
           <i class="userleads blueperson "></i>
          </div>
          <div class=" media-body">
            <h4 class="media-heading">Lead</h4>
            View leads that have been previously created
          </div>
       <div class="media-right">
             <i class="userleads arrow " (click)="LeadData()" ></i>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <i class="userleads quote "></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Quote</h4>
            View leads that have been previously created
          </div>
    <div class="media-right">
             <i class="userleads arrow " (click)="LeadData()" ></i>
          </div>
        </div>
        
        <div class="media">
          <div class="media-left">
            <i class="userleads bluepolicy "></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Policy</h4>
            View all customer policies
          </div>
<div class="media-right">
             <i class="userleads arrow " (click)="LeadData()" ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 topcontainer">
      <div class="row data-container2">
        <tabset [justified]="true" class="new-lead-support">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="icon  leads-referral"></i> Referrel
            </ng-template>
            <div>
              <div class="refferal-table">
                <table class="scroll lead-refferal-table">
                  <thead>
                    <tr>
                      <th width="40">Name</th>
                      <th width="40">Date</th>
                      <th width="40">WB#</th>
                    </tr>
                  </thead>
                  <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <tr>
                      <td style="padding-left: 0.5vw" class="trow"><b>2017: 3/10</b></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td style="padding-left: 0.5vw" width="55">1.Susan Smith</td>
                      <td width="40">10/12/17</td>
                      <td width="40">123456</td>
                    </tr>
                    <tr>
                      <td style="padding-left: 0.5vw" width="55">2.Susan Smith</td>
                      <td width="40">10/12/17</td>
                      <td width="40">123456</td>
                    </tr>
                    <tr>
                      <td style="padding-left: 0.5vw" width="55">3.Susan Smith</td>
                      <td width="40">10/12/17</td>
                      <td width="40">123456</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>

          <tab id="tab2">
            <ng-template tabHeading>
              <i class="icon leads-email"></i> Email
            </ng-template>
            <div class="email-leads">
              <tabset [justified]="true">
                <tab id="tab1">
                  <ng-template tabHeading>
                    <i class="icon icon1 leads-send-open-email"></i>
                    <p>Sent/Opened Emails</p>
                  </ng-template>
                  <div>
                    <table class="scroll lead-refferal-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Date</th>
                          <th>Open</th>
                        </tr>
                      </thead>
                      <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <tr *ngFor="let date of [5,12,18,21,30]">
                          <td style="padding-left: 0.5vw">John</td>
                          <td>12/{{date}}/2017</td>
                          <td>Open</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>

                <tab id="tab2">
                  <ng-template tabHeading>
                    <i class="icon icon1 leads-send-email"></i>
                    <p>Send Emails</p>
                  </ng-template>
                  <div>
                    <table class="scroll lead-refferal-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <tr *ngFor="let date of ['review','comment','quote']">
                          <td>
                            <i style="padding-left: 0.5vw" class="fa fa-envilope  fa-envelope">  Customer {{date}}</i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </tab>

          <tab id="tab3" class="text">
            <ng-template tabHeading>
              <i class="icon leads-text"></i> Text
            </ng-template>
            <div class="text-leads">
              <tabset [justified]="true">
                <tab id="tab1">
                  <ng-template tabHeading>
                    <i class="icon icon1 leads-send-text1"></i>
                    <p>Sent Text</p>
                  </ng-template>
                  <div>
                    <table class="scroll lead-refferal-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let date of ['docusign','quote']">
                          <td style="padding-left: 0.5vw">
                            Customer {{date}}
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>

                <tab id="tab2">
                  <ng-template tabHeading>
                    <i class="icon icon1 leads-send-text"></i>
                    <p>Send Text</p>
                  </ng-template>
                  <div>
                    <table class="scroll lead-refferal-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let date of ['docusign','quote']">
                          <td style="padding-left: 0.5vw">
                            Customer {{date}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </tab>

          <tab id="tab4">
            <ng-template tabHeading>
              <i class="icon leads-chat"></i> Chat
            </ng-template>
            <div style="font-size: 0.7vw" class="chat-leads" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
              <p style="padding-left: 0.5vw;padding-top:0.3vw"> Chat History</p>
              <accordion>
                <accordion-group heading="09/{{date}}/2017" *ngFor="let date of [06,08,15,24]">
                  <p> Customer: My billing is wrong</p>
                </accordion-group>
              </accordion>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>