.container-fluid {
     font-size: 1vw;
    background: white;
    border-top: 1vh solid #e74c38;
    margin-top: -0.6vh;
    border-radius: 0.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
     min-height: 76vh;
      max-height: 80vh;
  // -moz-box-shadow: 4px 7px 8px 7px #cccccc;
  // box-shadow: 4px 7px 8px 7px #cccccc;
 .left-header {
    color: white;
    height: 7vh;
    font-size: 90%;
   // margin-right: -2vw;
    .bg-gray, .bg-blue {
      height: 7vh;
    }
    .fa {
        font-size: 1vw;
      }
    .bg-blue{
      padding-top: 0.6vh;
      font-size: 1vw;
      text-align: center;
      cursor: pointer;
      background-color: #0066a6;
     
    }
  }
  .leftpanel{
    padding-left: 0vw;
    border-right: 0.1vw solid #c2c2c2;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
    color: #999999;
    border-radius: 0.2vw;
  
    .left-header .col-sm-12 {
      padding-right: 0vw;
    }
    .new-lead-left-form { 
      height: 57vh;
      padding-top: 0vh;
      font-size: 1vw;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 0.6vh;
      .fa {
        font-size: 2vw;
          padding-left: 1vw;
       color:#999999
      }
      .contact-name{
        margin-top: 1vh;
      }

    }
  }
}
.leftpanel hr {
  width: 25vw;
  border-color: gray;
}
.add-lead-textbox {
    border-radius: 0.1vw;
    padding: 0;
    border: 0.1vw solid #eee;
    box-shadow: none;
    font-size: 0.9vw;
    height: 3vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1.2vh;
    color: #cccccc;
}
.add-lead-textbox.sm{
height:  2vh;
}
  .add-lead-textbox.office{
  width: 34% !important;
  float: left;
  
}
.add-lead-textbox.home{
  width:70% !important;
  float: left;

}
.add-lead-textbox.phonetype{
  width:30% !important;
  float: left;
  background: gray;
}
.lead-address .col-xs-5, .lead-address .col-xs-5 input, .lead-street-address .col-sm-4  {
  padding-right: 0vw;
}
.lead-address .col-xs-2, .lead-address .col-xs-2 input  {
  padding-left: 0.5vw;
}
.lead-street-address .col-xs-4{
  padding-right: 0.5vw;
}
.lead-street-address .col-xs-3, .lead-street-address .col-xs-3 input {
  padding-left: 0vw;
}
.lead-city-address .col-xs-3{
  padding-right: 0.2vw;
}
.new-lead-left-form .row, .left-paneladdress {
  padding-bottom: 1vh;
}
.container-fluid .leftpanel .new-lead-left-form .left-paneladdress .row {
  padding-bottom: 0vh ;
}
.container-fluid .leftpanel .row.lead-city-address .fa {
      font-size: 1.2vw;
    height: 3vh;
    padding: 0vh 0.15vw;
    border: 1px solid #eeeeee;
}
.fa.fa-circle.green
{
color: green;
}
.leftpanel-quote{
      padding:1vh 0.5vw;
    margin-left: 0.8vw;
}
.leftpanel-quote, .leftpanel-bill {
  padding:1vh 0.5vw;
}
.new-lead-left-form .fa {
  padding-left: 1vw;
  color:#808080;
}

ul.add-new-lead-search-result-area-nav{
  padding-left: 0vw;
  li {
    display: inline-block;
    text-align: center;    
  }
    >p{
      position:absolute;
      text-align: center;
      margin:0;
      width:100%;
      bottom:-3.4vh;
    }
  }

// i.icon.icon-tab {
//   width: 6vw;
//   height: 6vw;
//   background-position: center center;
// }

.media_objects{
  padding-left:2vw;
  .media:hover{
    background-color: #ccc;
    cursor:pointer;
  }
  .media{
      padding:0.6vh 0.3vw;
      border-left: 6px solid lightgray !important;
      border: 1px solid #ccc;
      img{
        width:2.1vw;
      }
      .media-body{
        font-size:0.7vw
      }
      .media-right{
        img{
          margin-right: 0.7vw;
        }
      }
    }
}

 .data-container1{
        background-color: white;
    border-top: 1vh solid #0086c8;
      border-radius: 0.2vw;
     box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
    min-height: 29vh;
    max-height: 30vh;
    margin-left: 1vw;
    margin-bottom: 4vh;
}

 .data-container2{
    background-color: white;
    border-top: 1vh solid #0086c8;
      border-radius: 0.2vw;
     box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
    /* margin-bottom: -27px; */
    min-height: 65vh;
    max-height: 65vh;
    margin-left: 1vw;
    margin-right: .5vw;
}

.col-sm-12.lead-user-quote-url {
  padding: 2vh 1vw;
}
.col-xs-4.right-side-refferal.topcontainer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 20vh;
}
ul.new-lead-user-active-status li, ul.new-lead-user-date li {
     display: block;
    padding: 0.4vh 1vw;
    font-size: 1vw;
}
ul.new-lead-support{
  padding: 0.6vh 0.3vw;
  border-bottom: 2px solid #0086c8;
}
ul.new-lead-support li{
  display: inline-block;
  padding: 0.4vh 1vw;
}
ul.new-lead-support li{

  border-radius: 1vw;
  padding:0.6vh 0.3vw;
  margin-bottom: .2vh;
  margin-right:0.2vw;
  color: #999999;
}
ul.new-lead-support li.active{
  background: #cccccc;
  color: #0086c8;
}
.col-sm-12.lead-user-details {
  font-size: 1vw;
  padding: 2vh 1vw;
}
.lead-user-quote-url input {
  width: 65%;
  border-radius: 0.2vw;
}
table.scroll.lead-refferal-table{
  width: 100%;
}
table.scroll.lead-refferal-table thead,  thead{
  background: #b6d3e9;
}


ul.new-lead-user-active-status, ul.new-lead-user-date {
  padding:0.2vh 0.1vw;
  margin-bottom: 0vh;
}
.bg-gray.leads-left-head .col-sm-6, .bg-gray.leads-left-head .col-sm-12 {
  padding: 0.8vh 0.5vw;
  margin-bottom: -0.6vh;
}
.container-fluid .leftpanel{
  padding-left: 0vw;
  border-right: 0.1vw solid #b0b0b0;
  border-bottom: 0.1vw solid #b0b0b0;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #b0b0b0;

}
// .leads-referralnumber .add-lead-textbox {
//   font-size: 0.8vw;
//   height: 2vw;

// }

.container-fluid .left-header .fa{
  font-size: 1vw;
}
.new-lead-left-form::-webkit-scrollbar-track, .new-lead-content::-webkit-scrollbar-track,
table.scroll.lead-refferal-table tbody::-webkit-scrollbar-track,  .lead-refferal-table-date tbody::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0.7vw;
  background-color: #F5F5F5;

}

.new-lead-left-form::-webkit-scrollbar, .new-lead-content::-webkit-scrollbar,
table.scroll.lead-refferal-table tbody::-webkit-scrollbar,  .lead-refferal-table-date tbody::-webkit-scrollbar
{
  width: 1vw;
  background-color: #F5F5F5;
}

.new-lead-left-form::-webkit-scrollbar-thumb, .new-lead-content::-webkit-scrollbar-thumb,
table.scroll.lead-refferal-table tbody::-webkit-scrollbar-thumb, .lead-refferal-table-date tbody::-webkit-scrollbar-thumb
{
  border-radius: 0.7vw;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #b3b3b3;
}
.new-lead-content {
  height: 68vh;
}
table.scroll.lead-refferal-table tbody{
  height: 38vh;
  display: block;
  width: 100%;
}
table.scroll.lead-refferal-table thead, table.scroll.lead-refferal-table tbody tr, .lead-refferal-table-date tbody tr, .lead-refferal-table-date thead{
  display:table;
  width:100%;
  table-layout:fixed;
}
table th{
  color: #808080;
  font-weight: bolder;
}
table.scroll.lead-refferal-table th, table.scroll.lead-refferal-table thead td{
  padding-left: 0.5vw !important;
  color: #999999;
 
}
table.scroll.lead-refferal-table th, table.scroll.lead-refferal-table tbody td{
  padding-left: 0vw;
  color: #999999;
 
}

.left-header .col-xs-12 {
  padding-right: 0vw;
}

.icon.map {
  background-image: url('/assets/images/leads-orange-location.png');
}
.icon.edit {
  margin-right: -0.6vw;
  margin-top: 0vh;
  background-size: 70%;
}
ul.new-lead-user-active-status li {
  line-height: 3.8vh;
}
.add-new-lead-search-result-area-nav li img{
  width: 3vw;
}
.data-container1{
  i{
    
    margin-left: -1vw;
    line-height: 3vh
  }
 
}
.col-xs-12.lead-user-details {
  padding: 0.8vh 0.4vw;
}
.col-xs-12.lead-user-details i {
  padding:0.2vh  0.1vw;
  float: none;
}
.col-xs-12.lead-user-quote-url {
  padding: 0 2vw;
}
.data-container2{

i{
 // float: left;
  margin-left: 0vw;
}
 

  .nav-tabs.nav-justified li #tab3.text a{
    border-radius:0vw;

  }
}
.leads-check{
  padding-left: 0vw;
}
.add-lead-textbox.home {
  float: left;
}
.add-lead-textbox.phonetype{
  
  float: left;
  font-size: 0.6vw;
  font-weight: bold;
  padding-left: 0vw;
}
