#search-content {
  background: #fff;
  border-top: 1vh solid #e74c38;
  border-radius: 3px;
   box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
}
#search-form {
  background: #e6e6e6;
}
#search-heading, #search-count {
  background: #e6e6e6;
}

