#sticky-menu{
  position: fixed;
  right: 0;
  top: 18em;
  z-index: 99;
}

#sticky-menu img{
  width: 52px;
  cursor: pointer;
}

#sticky-menu-handle,
#sticky-menu-items{
  border:1px solid #fff;
  background:black;
  color: white;
  display: inline-block;
  vertical-align: top;
   padding-top: 10px;
   padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#sticky-menu-handle{
  cursor: pointer;
}
#sticky-menu-items{

}
#sticky-menu-items ul{
  margin: 0px;
  padding:0px;
  list-style: none;
}
#sticky-menu-items ul li{
  display: block;
  margin-bottom: 1px;
}
#sticky-menu-items ul li a{
  display: block;
  background: #000;
  padding:7px;
}
#sticky-menu-items a{
  color: #fff;
  text-decoration: none;
}
