<div id="sticky-menu">
  <div  (click)="toggleStickyMenu()">
    <img src="assets/images/phone1.jpg" />
  </div>
  
  <div id="sticky-menu-items" [@StickyMenuAnimation]="state">
    <div *ngIf="showHide">
      <form class="form">
        <div class="form-group">
          <label>Network ID:</label>
          <input class="form-control" type="text" [(ngModel)]="networkId" name="networkId">
        </div>
        <div class="form-group">
          <label>Extension:</label>
          <input class="form-control" type="text" [(ngModel)]="primaryLineNum" name="primaryLineNum">
        </div>
        <div class="form-group">
          <label>User Name:</label>
          <input class="form-control" type="text" [(ngModel)]="AGENT_ID" name="UserName">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" type="text" [(ngModel)]="PASSWORD" name="password">
        </div>
        <div class="form-group">
          <label>Mode:</label>
          <input class="form-control" type="text" [(ngModel)]="mode" name="mode">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="startMonitor()">Login</button>
              

        </div>
      </form>
    </div>
    <div *ngIf="hideShow" >
      <div>
        <label for="size">{{username}}</label><br/>
      </div>
      <form class="form-inline">
        <div class="form-group">
          <label for="size">Status</label>
          <select class="form-control" id="size" style="background-color: black; color: silver">
            <option>Available</option>
            <option>Away</option>
            <option>Offline</option>
            <option>Busy</option>
          </select>
        </div>
      </form><br/>
      <div class="form-group">
        <label>Network ID:</label>
        <span> {{networkId}} </span>
      </div>

      <div class="form-group">
        <label>Extension:</label>
        <span> {{primaryLineNum}} </span>
      </div>
      <div class="form-group">
        <label>User Name:</label>
        <span> {{username}} </span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="stopMonitor()">Logout</button>
      </div>

    </div>
  </div>
</div>