.icon {
    width: 1.9vw;
    height: 1.9vw;
    margin-left: 1vw;
    display: inline-block;
    background-size: 1.9vw;
    background-repeat: no-repeat;
}

.icon.reports {
    background-image: url("../assets/images/reports.png")
}

.icon.map {
    background-image: url("../assets/images/leads-gray-location.png")
}

.icon.map.active {
    background-image: url("../assets/images/leads-orange-location.png")
}

.icon.user {
    min-width: 4vw;
    min-height: 4vw;
    background-size: 4vw;
    background-image: url("../assets/images/leads-gray-profile.png")
}

.icon.shoppingcart {
    background-image: url("../assets/images/leads-gray-shopping-cart.png")
}

.icon.building {
    background-image: url("../assets/images/leads-gray-building.png")
}

.icon.email {
    background-image: url("../assets/images/leads-gray-email.png")
}

.icon.language {
    background-image: url("../assets/images/leads-gray-language.png")
}

.icon.star {
    margin-top: -0.3vw;
    background-image: url("../assets/images/leads-gray-outline-star.png")
}

.icon.plus {
    margin-top: 0.1vw;
    width: 1.4vw;
    height: 1.4vw;
    margin-left: 0.1vw;
    display: inline-block;
    background-size: 1.4vw;
    background-image: url("../assets/images/leads-gray-blue-addition-sign.png")
}

.icon.groupusers {
    background-image: url("../assets/images/leads-gray-group-buiness.png")
}

.icon.edit {
    margin-right: 0.8vw;
    margin-top: 0.8vw;
    background-image: url("../assets/images/leads-gray-edit.png")
}

// .icon.camera{
//   background-image: url("../assets/images/leads-white-camera.png")
// }
.icon.personhandup {
    margin-left: -0.5vw;
    margin-top: -0.5vw;
    /* margin-right: 1vw; */
    margin-bottom: -1.5vw;
    width: 3.5vw;
    height: 7vh;
    background-size: 3.5vw;
    background-image: url("../assets/images/SVGs/SVGs/leads-gray-use-lead.svg")
}

.icon.personhandup:hover {
    background-image: url("../assets/images/SVGs/SVGs/leads-blue-use-lead.svg")
}

.icon.sfollowup {
    width: 1.6vw;
    height: 1.6vw;
    margin-bottom: -1vw;
    margin-right: 15-px;
    display: inline-block;
    background-size: 1.6vw;
    background-repeat: no-repeat;
    margin-left: -10px;
    background-image: url("../assets/images/leads-white-schedule-follow-up-calendar.png")
}

.icon.updatesearch {
    width: 2.0vw;
    height: 4vh;
    /* margin-bottom: -1vw; */
    display: inline-block;
    background-size: 2vw;
    background-repeat: no-repeat;
    margin-left: -0.5vw;
    /* margin-right: 1vw; */
    background-image: url("../assets/images/leads-white-update-search.png")
}

.icon.sfcalender {
    width: 1.3vw;
    height: 1.3vw;
    margin-bottom: -0.3vw;
    display: inline-block;
    background-size: 1.3vw;
    background-repeat: no-repeat;
    margin-left: -0.3vw;
    background-image: url("../assets/images/leads-white-update-search.png")
}

.icon.transfer {
    margin-left: -0.5vw;
    margin-top: -2vh;
    margin-bottom: -1.5vw;
    width: 3.5vw;
    height: 7vh;
    background-size: 3.5vw;
    background-image: url("../assets/images/SVGs/SVGs/leads-gray-transfer-data.svg")
}

.icon.transfer:hover {
    background-image: url("../assets/images/SVGs/SVGs/leads-blue-transfer-data.svg")
}

.icon.yellowstar {
    margin-top: -0.3vw;
    background-image: url("../assets/images/leads-yellow-star.png")
}

.icon.salescontest {
    margin-right: 0.3vw;
    margin-left: 3vw;
    margin-bottom: -0.3vw;
    background-image: url("../assets/images/links-orange-sales-contest.png")
}

.icon.links {
    margin-top: 1vw;
    margin-right: 0.3vw;
    background-image: url("../assets/images/links.png")
}

.icon.nextred {
    width: 2vw;
    height: 2vw;
    background-size: 2vw;
    margin-top: 1vw;
    margin-left: -1vw;
    line-height: 1.0;
    background-image: url("../assets/images/leads-red-continue-arrow.png")
}

.icon.nextgreen {
    width: 2vw;
    height: 2vw;
    background-size: 2vw;
    margin-top: 1vw;
    margin-left: -1vw;
    line-height: 1.0;
    background-image: url("../assets/images/leads-red-continue-arrow.png")
}

.icon.producer {
    width: 1.3vw;
    height: 1.3vw;
    margin-bottom: -0.3vw;
    margin-top: 0.3vw;
    margin-left: -0.3vw;
    background-size: 1.3vw;
    background-image: url("../assets/images/leads-gray-producer.png")
}

.icon.minus {
    margin-top: 0.1vw;
    width: 1.4vw;
    height: 1.4vw;
    margin-left: 0.1vw;
    display: inline-block;
    background-size: 1.4vw;
    background-image: url("../assets/images/leads-gray-blue-negative-sign.png")
}

.icon.notification {
    margin-bottom: -0.7vw;
    margin-left: -0.5vw;
    margin-right: 0.3vw;
    background-image: url("../assets/images/notification-black-icon.png")
}

.icon.alert {
    margin-bottom: -0.3vw;
    margin-right: 0.3vw;
    background-image: url("../assets/images/leads-white-alert.png");
    padding: 0px;
}

.icon.followups {
    width: 1vw;
    height: 1vw; //margin-left: 15px;
    display: inline-block;
    background-size: 1vw;
    background-repeat: no-repeat;
}

.icon.followups.closefollowups {
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 0vw;
    margin-bottom: -0.2vw;
    display: inline-block;
    background-size: 1.2vw;
    background-image: url("../assets/images/closefollowup.png")
}

.icon.followups.edit {
    background-image: url("../assets/images/fedit.png")
}

.icon.followups.myfollowups {
    width: 2vw;
    height: 2vw;
    margin-left: -0.3vw;
    display: inline-block;
    background-size: 2vw;
    background-image: url("../assets/images/myfollowups.png")
}

.icon.followups.docusign {
    width: 2vw;
    height: 2vw;
    margin-left: -0.3vw;
    display: inline-block;
    background-size: 2vw;
    background-image: url("../assets/images/docusignfollowups.png")
}

.icon.followups.remainder {
    background-image: url("../assets/images/fremainder1.png")
}

.icon.followups.redremainder {
    background-image: url("../assets/images/fremainder2.png")
}

.icon.followups.whiteremainder {
  width: 1.7vw;
  height: 1.7vw;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/reminder-white-icon.png");
  background-color: transparent;
  border: 0;
  margin-left: 0;
}

.icon.dashboardicon {
    width: 1.9vw;
    height: 1.9vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    display: inline-block;
    background-size: 1.9vw;
    background-repeat: no-repeat;
}

.icon.dashboardicon.alert {
    background-image: url("../assets/images/dalert.png")
}

.icon.transferdata {
    width: 1.9vw;
    height: 1.9vw;
    margin-left: 0.3vw;
    margin-right: 0.6vw;
    display: inline-block;
    background-size: 1.9vw;
    background-repeat: no-repeat;
}

.icon.transferdata.carinfo {
    background-image: url("../assets/images/leads-tranferable-data-white-car.png")
}

.icon.transferdata.drivinghistory {
    background-image: url("../assets/images/leads-tranferable-data-white-driver-history.png")
}

.icon.transferdata.email {
    background-image: url("../assets/images/leads-tranferable-data-white-email.png")
}

.icon.transferdata.location {
    background-image: url("../assets/images/leads-tranferable-data-white-map.png")
}

.icon.transferdata.person {
    background-image: url("../assets/images/leads-tranferable-data-white-person.png")
}

.icon.transferdata.phone {
    background-image: url("../assets/images/leads-tranferable-data-white-phone.png")
}

.icon.transferdata.driverinfo {
    background-image: url("../assets/images/leads-tranferable-data-white-driver-info.png")
}

.icon.topleads {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -0.8vw;
    margin-bottom: -0.3vw;
    display: inline-block;
    background-size: 1.5vw;
    background-repeat: no-repeat;
}

.icon.topleads.filter {
    width: 1vw;
    height: 1vw;
    margin-left: 1vw;
    display: inline-block;
    background-size: 1vw;
    background-repeat: no-repeat;
    background-image: url("../assets/images/filter.png")
}

.icon.topleads.myleads {
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    margin-bottom: -0.6vw;
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: 0vw;
    background-size: 2.5vw;
    background-repeat: no-repeat;
    background-image: url("../assets/images/myleads.png")
}

.icon.topleads.createlead {
    background-image: url("../assets/images/tcreatelead.png")
}

.icon.topleads.tmyleads {
    background-image: url("../assets/images/tmyleads.png")
}

.icon.topleads.tunassignlead {
    width: 1.6vw;
    margin-bottom: -0.4vw;
    margin-right: 0.2vw;
    background-image: url("../assets/images/tunassign.png")
}

.icon.topleads.groupuser {
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    margin-bottom: -0.6vw;
    margin-top: -1vw;
    margin-left: -0.3vw;
    margin-right: 0vw;
    background-size: 2.5vw;
    background-repeat: no-repeat;
    background-image: url("../assets/images/leads-orange-group-leads.png")
}

.icon.topleads.groupuser.unassign {
    margin-left: -1vw;
    background-image: url("../assets/images/leads-orange-group-leads.png")
}

.icon.campaign {
    max-width: 1.2vw;
    margin-right: 0.4vw;
    margin-left: 0vw;
    margin-bottom: -0.3vw;
    margin-top: 0.4vw;
    max-height: 1.2vw;
    background-size: 1.2vw;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon.campaign.campaign {
    background-image: url("../assets/images/leads-white-campaign.png")
}

.icon.campaign.referral {
    margin-top: 0.4vw;
    background-image: url("../assets/images/leads-white-referral.png")
}

.icon.campaign.source {
    background-image: url("../assets/images/leads-white-source.png")
}

.icon.profile {
    width: 1.9vw;
    height: 1.9vw;
    margin-left: 0.3vw;
    margin-right: 0.6vw;
    display: inline-block; // background-size: 28px;
    background-repeat: no-repeat;
}

.icon.profile.picture {
    background-image: url("../assets/images/profile-gray-profile.png")
}

.icon.profile.close {
    width: 0.6vw;
    height: 0.6vw;
    margin-left: 0vw;
    margin-right: 0vw;
    display: inline-block;
    background-size: 0.6vw; //background-repeat: no-repeat;
    background-image: url("../assets/images/SVGs/SVGs/profile-gray-edit-X.svg")
}

.icon.profile.profileedit {
    background-image: url("../assets/images/profile-gray-edit-expanded.png")
}

.icon.profile.image {
    width: 3vw;
    height: 3vw;
    margin-left: 1.5vw;
    margin-right: 0.6vw;
    display: inline-block;
    background-size: 3vw;
    background-image: url("../assets/images/profile-gray-image-icon.png")
}

.icon.profile.upload {
    background-image: url("../assets/images/profile-blue-image-upload.png")
}

.icon.search {
    width: 1.9vw;
    height: 1.9vw;
    margin-left: 0.3vw;
    margin-right: 0.6vw;
    display: inline-block; // background-size: 28px;
    background-repeat: no-repeat;
}

.icon.search.search {
    background-image: url("../assets/images/search.png")
}

.icon.search.results {
    background-image: url("../assets/images/search-white-reset-search-button.png")
}

.icon.search.reset {
    background-image: url("../assets/images/search-white-search-button.png")
}

.userleads {
    width: 1.9vw;
    height: 1.9vw; //margin-left: 0.3vw;
    //margin-right: 0.6vw;
    display: inline-block; // background-size: 28px;
    background-repeat: no-repeat;
    margin-bottom: -8px;

}

.userleads.quote {
    background-image: url("../assets/images/SVGs/SVGs/lead-customer-blue-quote.svg");
}

.userleads.arrow {
    background-image: url("../assets/images/SVGs/SVGs/lead-customer-gray-arrow.svg");
}

.userleads.bluepolicy {
    background-image: url("../assets/images/SVGs/SVGs/lead-customer-blue-policy.svg");
}

.userleads.blueperson {
    background-image: url("../assets/images/SVGs/SVGs/lead-customer-blue-person.svg");
}

.leads-referral {
    background: url("../assets/images/SVGs/SVGs/leads-gray-referral.svg") no-repeat;
    width: 1.2vw;
    height: 1.2vw;
    background-repeat: no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.25vw;
}

.leads-email {
    width: 1.2vw;
    height: 1.2vw;
    background: url("../assets/images/SVGs/SVGs/leads-gray-email.svg") no-repeat;
    background-repeat: no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.25vw;
}

.leads-text {
    width: 1.2vw;
    height: 1.2vw;
    background: url("../assets/images/SVGs/SVGs/leads-gray-text.svg") no-repeat;
    background-repeat: no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.25vw;
}

.leads-close {
    width: 2vw;
    height: 1.2vw;
    margin-left: 1vw;
    background: url("../assets/images/SVGs/SVGs/leads-blue-close-lead.svg");
    background-repeat: no-repeat;
    background-size: 2.0vw;
    margin-bottom: -0.25vw;
    background-position: center center;
}

li.active {
    i.leads-close {
        background: url("../assets/images/SVGs/SVGs/leads-white-x.svg");
        background-repeat: no-repeat;
        background-size: 2.5vw;
        width: 2.3vw;
        height: 2vw;
        margin-top: -0.5vw; // margin-left: 1vw;
    }
}

.leads-chat {
    width: 1.2vw;
    height: 1.2vw;
    background: url("../assets/images/SVGs/SVGs/leads-gray-chat.svg") no-repeat;
    background-repeat: no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.25vw;
}

.leads-send-text {
    width: 2.5vw;
    height: 2.5vw;
    background: url("../assets/images/leads-gray-send-text-message.png") no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.5vw;
}

.leads-send-open-email {
    width: 2.5vw;
    height: 2.5vw;
    background: url("../assets/images/leads-gray-email-sent-open.png") no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.5vw;
}

.leads-send-email {
    width: 2.5vw;
    height: 2.5vw;
    background: url("../assets/images/leads-gray-email-send-email.png") no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.5vw;
}

.leads-send-text1 {
    width: 2.5vw;
    height: 2.5vw;
    background: url("../assets/images/SVGs/SVGs/leads-gray-text.svg") no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.5vw;
}

i.icon.icon1 {
    width: 100%;
    height: 4vw;
    background-position: center center;
}

.leads-policy {
    width: 1.2vw;
    height: 1.2vw;
    background-repeat: no-repeat;
    background: url("../assets/images/SVGs/SVGs/leads-gray-policy.svg") no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.2vw;
}

.leads-producer {
    width: 1.2vw;
    height: 1.2vw;
    background-repeat: no-repeat;
    background: url("../assets/images/leads-gray-producer.png")no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.2vw;
}

.leads-quotestate {
    width: 1.2vw;
    height: 1.2vw;
    background: url("../assets/images/SVGs/SVGs/leads-gray-quote.svg") no-repeat;
    background-size: 1.2vw;
    margin-bottom: -0.2vw;
}

i.leads-quote {
    background: url("../assets/images/SVGs/SVGs/leads-gray-quote.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

i.leads-cross-sell {
    background: url("../assets/images/SVGs/SVGs/leads-gray-cross-sell.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

i.leads-rerate {
    background: url("../assets/images/SVGs/SVGs/leads-gray-rerate.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

li.active {
    i.leads-quote {
        background: url("../assets/images/SVGs/SVGs/leads-blue-quote.svg") center center no-repeat !important;
    }
    i.leads-rerate {
        background: url("../assets/images/SVGs/SVGs/leads-blue-rerate.svg") center center no-repeat !important;
    }
    i.leads-cross-sell {
        background: url("../assets/images/SVGs/SVGs/leads-blue-cross-sell.svg") center center no-repeat !important;
    }
}

.data-container2 .nav-item.active .nav-link.active .leads-referral {
    background: url("../assets/images/SVGs/SVGs/leads-blue-referral.svg");
    background-repeat: no-repeat;
    background-size: 1.2vw;
    background-position: top right;
}

.data-container2 .nav-item.active .nav-link.active .leads-text {
    background: url("../assets/images/SVGs/SVGs/leads-blue-text.svg") no-repeat;
    background-size: 1.2vw;
    background-repeat: no-repeat;
    background-position: top right;
}

.data-container2 .nav-item.active .nav-link.active .leads-chat {
    background: url("../assets/images/SVGs/SVGs/leads-blue-chat.svg") no-repeat;
    background-size: 1.2vw;
    background-repeat: no-repeat;
    background-position: top right;
}

.data-container2 .nav-item.active .nav-link.active .leads-email {
    background: url("../assets/images/SVGs/SVGs/leads-blue-email.svg") no-repeat;
    background-size: 1.2vw;
    background-repeat: no-repeat;
    background-position: top right;
}

.data-container1 .nav-item.active .nav-link.active .leads-policy {
    background: url("../assets/images/SVGs/SVGs/leads-blue-policy-small.svg");
    background-repeat: no-repeat;
    background-size: 1.2vw;
}

.data-container1 .nav-item.active .nav-link.active .leads-quotestate {
    background: url("../assets/images/SVGs/SVGs/leads-blue-quote-small.svg");
    background-repeat: no-repeat;
    background-size: 1.2vw;
}