/* You can add global styles to this file, and also import other style files */
@import "icons";
@import "variables";

body {
  background: #4997D0;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size:0.9vw;

  /*Util Classes*/
  .bg-gray {
    background-color: #a5a5a5 !important;
  }
  .bg-red {
    background-color: orangered;
  }
  .m-p-0 {
    margin: 0vw !important;
    padding: 0vw !important;
  }
  .page-title {
       background: #FFFFFF;
    border-top: 0.5vw solid #e74c38;
    border-radius: 0.2vw;
    padding: 0.5vw 0.6vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc
  }
  .table-layout-fixed {
    table-layout: fixed;
    margin-bottom: 0vw;
  }
  .cursor-poiner{
    cursor: pointer;
  }
 strong{
      color: #337ab7;
}
  /*PlaceHolder Color*/
  ::-webkit-input-placeholder {
    color: rgb(200, 200, 231);
  }
  ::-moz-placeholder {
    color: rgb(200, 200, 231);
  }
  :-ms-input-placeholder {
    color: rgb(200, 200, 231);
  }
  :-moz-placeholder {
    color: rgb(200, 200, 231);
  }

  /*DatePicker*/
   /*DatePicker*/
  .bs-datepicker-container {
    padding: 1vw 1vw;
    width: 19vw;
    height: 19vw;
    //overflow-y: scroll;
    margin-left: -2vw;
    background: #fff;
  }
  .daterangepicker {
      // font-size: 0.7vw;
    color: #808080;
    right: 4.5vw !important;
    width: 32vw !important;
    overflow: hidden;
        padding: 0vw;
    height: 40vw;
    > div {
      float: left;
      margin: 1px !important;
    }
    .ranges {
        height: 86%;
    margin-top: 0.8vw !important;
    margin-top: 0.2vw;
    border-right: 0.1vw solid #808080;

      li{
         width: 8vw;
    margin: 0.1vw 1vw 1vw 1vw;
    font-size: 0.8vw;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 0.3vw 0.7vw;
    margin-bottom: 8px;
    cursor: pointer;
      }
      .range_inputs{
           position: absolute;
    bottom: 0.2vw;
    width: 94%;
    margin-left: 0.5vw;
    border-top: 0.1vw solid #808080;
    text-align: center;
        button{
          margin-top: 0.2vw;
          margin-left: 0vw;
        }
//         button:hover{
//  outline: none;
//   outline-offset: -2px;
//   background-color: white ;
//   border-color: white ;
//   color:  #0086c8;
// }
      }
    }
    .calendar{
      display: block !important;
    }
    .daterangepicker_input {
     top: 0.8vw;
    right: -0.2vw;
    width: 50%;
    height:2.5vw
    }
    .right {
      .daterangepicker_input {
        position: absolute;
       top: 0.8vw;
    right: 0.8vw;
    width: 25%;
      }
    }
    .calendar-table {
     padding: 0.2vw !important;
     font-size: 0.7vw;
     margin:0.5vw
    }
    table {
      text-align: left !important;
      th {
        i {
          /*display: none;*/
        }
      }
      td {
        width: 1.2vw !important;
        padding: 0.1vw !important;
              text-align: left !important;
      }
    }
  }

  /*Followup Page*/
  .bs-datepicker-container {
    padding: 0.3vw;
    width: 300px;
    height: 295px;
    margin-left: -1vw;
    background: #fff;

  }

  .bs-datepicker {
    left: 5.5vw;
  }
  .theme-green {
    .bs-datepicker-head {
      background: transparent;
      button {
        color: #999999;
      }
    }
    .bs-datepicker-body {
      border: none;
      table {
        td {
          span, span.selected, span[class*="select-"]:after {
            border: none;
          }
        }
        td[class*="select-"] {
          span:after {
            border: none;
          }
        }
      }
    }
  }

  /*Modal Styles*/
  .modal {
    z-index: 99999;
    .modal-content {
      width: 25vw;
      margin: 15vw 0vw;
    }
    #Lead-modal{
        .modal-content {
          //width: 25vw;
      margin: 10vw 7vw;
    }
    }
    .modal-footer, .modal-header, .modal-body {
      background-color: #0086c8;
      color: #FFFFFF;
    }
    .modal-header {
      border-bottom: unset;
      .close {
        margin-top: -1.9vw;
        color: #FFFFFF;
        border-radius: 50%;
        border: 0.1vw solid #FFFFFF;
        padding: 0vw 0.3vw;
        text-shadow: unset;
        opacity: 1;
      }
    }
    .modal-content {
      background-color: #0086c8;
      border: 0.1vw solid #0086c8;
    }
    .modal-footer {
      border-top: unset;
      text-align: unset;
      .btn {
        background-color: #0086c8;
        border: 0.3vw solid #FFFFFF;
        border-radius: 1.3vw;
      }
    }
  }
  .modal-backdrop.in {
    opacity: 0vw;
  }
  .btn{
    padding: 0.4vw 0.8vw;
    font-size: 1vw;
  }
  /*Top Controls Styles*/
  #leads-tabs {
    .nav-tabs{
      >li{
        >a.active {
          background-color: lightgray !important;
          box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
          color:white;

        }
      }
      >a {
        color: #0086c8 !important;
        cursor: default;
        background-color: transparent !important;
        border: unset;
        border-radius: 0vw !important;
        padding: 0.55vw 2.6vw;
        box-shadow: unset;
        .glyphicon-remove-circle {
          float: left;
          padding: 0.15vw 0.3vw;
          border: 0.1vw solid #0086c8;
          color: #0086c8;
          border-radius: 1.6vw;
          margin-right: 0.3vw;
          font-size: 0.8vw;
        }
      }
    }
  }
.range_inputs .btn-sm{
  padding: 0.2vw 0.9vw;
  border-radius:4vw ;
  background-color:#03a9f4 !important ;
  color: #ffffff;
  float: right;
  margin-right: 2vw;
    border-color: white;
    .btn-sm:hover{
 background-color:#ffffff !important ;
  color: #03a9f4;
   border-color:#03a9f4 ;
    }
}


  .more-button .btn {
    padding: 0.1vw 0.5vw;
  }
  /*Search Page*/
  .search-component-container{
    .mCSB_container{
      margin-right: 0vw !important;
    }
  }

  .view-selector-page {
    ul {
      border: 0vw !important;
      li.active {
        a:after {
             content: "";
         position: absolute;
                  width: 0vw;
                  height: 2vw;
                         left: 5vw;
                         border-left: 2vw solid transparent;
                    border-right: 2vw solid transparent;
                       border-bottom: 2vw solid white;
        }
      }
    }
    .nav-item {
      margin: 0vw;
    }

      .nav-link {
      border-radius: 5px;
      padding: 0.5vw 3vw;
      height: 2.5vw;
      //border: 1px solid #ccc
    }
  }
  .recent-activity {
    .mCSB_container {
      margin-right: 1vw !important;
    }
  }
  app-my-leads {
    .mCSB_container {
      margin-right: 1vw !important;
      margin-left: 1vw !important;
    }
  }
   .unassigned-leads-table {
    .mCSB_container {
      margin-right: 1.5vw !important;
      margin-left: 1vw !important;
    }
  }
  .report-table{
    .mCSB_container {
      margin-right: 2vw !important;
      margin-left: 1vw !important;
    }
  }
   .search-table{
    .mCSB_container {
      margin-right: 0vw !important;
      margin-left: 1vw !important;
    }
  }
   .Insured-table{
    .mCSB_container {
      margin-right: 1.5vw !important;
      margin-left: 1vw !important;
    }
  }
   .form-control{
    font-size: 0.8vw !important;
  }
  .form-control-sm {
    float: right;
    padding: 0vw;
    height: 1.5vw;
    border-radius: 0vw;
  }
}

.transferable-data-license, .transferable-data-address{

  .row {
    padding: 0.3vw 0vw;
  }
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:active {
  background-color: #b3b3b3;
  width: 0.6vw;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  width: 0.6vw;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools_onDrag .mCSB_dragger_bar {
  background-color: #b3b3b3 !important;
  background-color: #b3b3b3 !important;;
}
table tbody td, table thead th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left !important;
}
span.bs-remove-tab {
  float: left;
  border: 0.1vw solid #30a0db;
  border-radius: 50%;
  padding: 0.1vw 0.3vw;
  margin-right: 0.5vw;
  color: #30a0db;
}
tbody tr:hover {
  background-color: #d5ebf9 !important
}
//user-lead
.data-container1 .nav-tabs.nav-justified>li {
    width: 9vw;
    padding: 0.2vw;
}
.data-container2 .nav-tabs.nav-justified>li {
  width: 9vw;
  padding: 0vw;
}
.data-container1 .nav-tabs.nav-justified>.active>a, .data-container1 .nav-tabs.nav-justified>.active>a:hover,
.data-container2 .nav-tabs.nav-justified>.active>a, .data-container2 .nav-tabs.nav-justified>.active>a:hover{
  border: 1px solid #f0f1f6;
  border-radius: 1.7vw;
  background: #f0f1f6;
  color: #2c9ddb;
}
.data-container1 .nav-tabs.nav-justified>li>a, .data-container1 .nav-tabs.nav-justified>li>a:hover,
.data-container2 .nav-tabs.nav-justified>li>a, .data-container2 .nav-tabs.nav-justified>li>a:hover {
  border: unset;
  background: transparent;
  color: #b4b4b4;
}
.data-container1 .nav-tabs.nav-justified>.active>a, .data-container1 .nav-tabs.nav-justified>.active>a:hover{
  padding: 0.1vw 1vw;

}
.data-container2 .nav-tabs.nav-justified>li>a, .data-container2 .nav-tabs.nav-justified>li>a:hover {
     padding: 0.3vw 0.1vw;
    line-height: 0.9vw;
    margin: 0.5vw 0.1vw;
    margin-left: 0.5vw;
    font-size: 0.7vw;
    font-weight: bolder;

}
.data-container2 .nav-tabs.nav-justified > li:last-child a {
  margin-right: 0.5vw;
  margin-left: 0vw;
}
.data-container2  {
  td{
    padding: 0.5vw;
  }
  #tab3   .nav-tabs.nav-justified .active > a#tab1-link, #tab3  .nav-tabs.nav-justified .active  a#tab2-link,
  #tab2   .nav-tabs.nav-justified .active > a#tab1-link, #tab2  .nav-tabs.nav-justified .active  a#tab2-link
  {
    border-radius: 0vw;
    background: #aed9f2;
    margin: 0vw;
  }
  #tab3   .nav-tabs.nav-justified  a#tab1-link, #tab3  .nav-tabs.nav-justified   a#tab2-link {
    border-radius: 0vw;
  }
  .panel-default>.panel-heading {
    color: #808080;
    background-color: transparent;
    border-color: transparent;
  }
  .panel {
    box-shadow: none;
    border: unset;
    border-radius: 0vw;
  }
  .refferal-table {
    border-top: 0.15vw solid #3E8CC6;
    padding: 0.5vw 0vw;
    margin: 0.3vw 0.9vw;
  }
  .email-leads, .text-leads, .chat-leads  {
    border-top: 0.15vw solid #3E8CC6;
    margin: 0.3vw 0.9vw;
     height:53vh;
  }
  .email-leads ul li a{
    margin-bottom:0vw ;
  }
  .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: 0vw;
    padding-left: 1vw;
    padding-top: 0vw;
    border: 0.1vw solid #c2c2c2;
    margin: -0.3vw 1vw;
  }
  .accordion-toggle[aria-expanded="true"]{
      color: #808080;
      background-color: #b6d3e9;
     border: 0.1vw solid #c2c2c2;
    border-bottom:none ;
    border-top-left-radius:0.3vw;
    border-top-right-radius:0.3vw ;
    margin-bottom: -0.3vw;
    padding: 0.3vw;
    }

}

#tab2 tab#tab1, #tab2 tab#tab2, #tab3 tab#tab1, #tab3 tab#tab2 {
  border-top: unset;
}

// .data-container1 .nav-tabs.nav-justified > .active > a, .data-container1 .nav-tabs.nav-justified > .active > a:hover, .data-container2 .nav-tabs.nav-justified > .active > a, .data-container2 .nav-tabs.nav-justified > .active > a:hover {
//    background: url("/../../assets/images/SVGs/SVGs/leads-blue-referral.svg");
//   background-repeat:no-repeat ;
//   background-size: 0.9vw;
//   background-position: top right;
//     // border: 1px solid #f0f1f6;

//     // border-radius: 25px;
//     // background: #f0f1f6;
//     // color: #2c9ddb;
// }

// .btn:hover {
//   outline: none;
//   outline-offset: -2px;
//   background-color: #eee ;
//   border-color: #eeeeee ;
//   color: #7d0 ;
// }

.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  padding: 0.3vw 0;
}
.follow-up-container .datepicker {
    position: absolute !important;
  
}
.follow-up-container .datepicker__calendar{
  top:unset !important;
   left: -3.8vw !important;
    height: 19vw !important;
    width: 17vw !important;
    font-size: 0.85vw !important;
    background-color: #ffffff !important;
    box-shadow:2px 2px 2px 2px #cccccc !important;
}
.datepicker__input {
    font-size: 0.8vw !important;
    width:5.5vw;
    padding: 0.1vw 0.2vw;
    border-radius: 3px !important;
    margin-top: 0.22vw !important;
    margin-bottom: 0vw !important;
    margin-left: -0.9vw !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.datepicker__calendar__month__day{
  color: gray !important;
  
}
.datepicker__calendar__month__day:active{
  color: white !important;
  
}
.datepicker__calendar__cancel{
    left: 14.2em !important;
    background: #3E8CC6;
    padding: 2px 10px;
    border-radius: 30px;
    color: white !important;
    cursor: pointer;
}
// .search-component-container .product_filter .mCSB_container {
//   margin-right: 20px !important;
// }
// .search-component-container .product_filter .mCSB_scrollTools .mCSB_draggerRail {

//   background-color: rgb(236, 236, 236) !important;
//   width: 0.6vw;

// }
// .search-component-container .product_filter .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

//   background-color: #b3b3b3 !important

// }
// .search-component-container .product_filter .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

//   width: 0.6vw !important;

//}
.search-component-container #mCSB_19_scrollbar_vertical.mCSB_scrollTools .mCSB_draggerContainer, .search-component-container  .mCSB_scrollTools .mCSB_draggerContainer, {
 //margin-top: 3vw;
}
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:hover, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:active {
  background-color: #b3b3b3;
  width: 100%;
  padding: 0.3vw 0 ;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 1.6vw;

}

#ranking-sales .mCSB_inside > .mCSB_container, #ranking-premium .mCSB_inside > .mCSB_container{
  margin-right: 1vw !important;
  margin-left: 0.6vw !important;
}
body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #0086c8 !important;
}
.mCSB_scrollTools .mCSB_draggerContainer {
 top:0.8vw;
 bottom: 0.4vw !important;
  right: 2vw;
}
.daterangepicker_input i.fa.fa-calendar.glyphicon.glyphicon-calendar {
  display: none;
}
.daterangepicker .daterangepicker_input input.input-mini {
  padding: 0 0.6vw;
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.start-date, .daterangepicker td.start-date.end-date{
  border-radius: 50% !important;
  width: 2.1vw !important;
  height: 2.1vw !important;
}
.daterangepicker .ranges ul {
    width: 10vw !important;
}
.daterangepicker .calendar {
    display: none;
    max-width: 20vw !important;
    max-height: 16vw !important;
    margin: 4px;
}
/*Responsive Styles*/
@media (max-width: 1600px) {
  .daterangepicker {
    width: 25vw !important;
    height: 32vw !important;
  }
}
