$gray-color     :   #dddddd;
$primary        :   #03a9f4;
$secondary      :   #32db64;
$danger         :   #488aff;
$light          :   #f4f4f4;
$dark           :   #222;
$white          :   #fff;
$red            :   #ea1c1c;
$stationred     :   red;
$green          :   green;
$blue           :   blue;
