<div class="schedule-follow-Up-modal">
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon sfollowup"></i>   <span>Schedule follow-Up</span></h4>
    <button type="button" class="close" aria-label="Close" >
      <span aria-hidden="true" (click)="modelRef.hide()">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="source-modal-body">
      <div class="row ">
        <div class="col-sm-12">
          <p>Call John on Lunch break on thrursday
          Any time after 3pm
          </p>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer text-center">
    <button type="button" class="icon followups whiteremainder" ></button>
    <button type="button" class="btn btn-outline-dark pull-right" >Save</button>
    <button type="button" class="btn btn-outline-dark pull-right" ><i class="icon sfcalender"></i> 7/10/2017</button>
  </div>
</div>