.source-modal {
  width: 30vw;
}
.source-modal .modal-footer .btn {
  background-color: #0086c8;
  display: block;
  margin: 0 auto;
  color: #fff;
  box-shadow: unset;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}
.source-modal .modal-title {
  font-size: 24px;
}
.schedule-follow-Up-modal h4.modal-title span {
  position: relative;
  top: 0.5vw;
}
.source-modal-body{
  background: #FFFFFF;
  color: #999999;
  padding: 1vw;
  margin: 1vw auto;
  height: 13vh;
}
ul.left-side-source {
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul.left-side-source::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;

}

ul.left-side-source::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

ul.left-side-source::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #b3b3b3;
}
input.source {
  height: 2rem;
  margin-bottom: 10px;
}
.modal-header, .modal-body {
  border-bottom: unset;
  padding: 0 15px;
}
.source-left-side {
  border-right: 2px solid #a4a4a4;
}
button.fa.fa-clock-o {
  border: unset;
  background: transparent;
  font-size: 2em;
}

.schedule-follow-Up-modal i.icon.sfollowup {
  margin-right: 0;
  background-size: 25px;
}
.schedule-follow-Up-modal .modal-header .close{
  margin-top: -1.4vw;
}
.schedule-follow-Up-modal button.btn.btn-outline-dark {
  margin-left: 0.8vw;
}
.schedule-follow-Up-modal .modal-footer {
  padding-top: 0;
}

