table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #cccccc;
  border-radius: 5px;
}
thead, tbody, tr, th, td { display: block; }

thead tr {
    /* fallback */
    width: 100%;

}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-body {
    height: 62vh;
}

tbody td, thead th {
    width: 14.28%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}
th {
   background-color: rgb(180, 196, 211);
     padding: 0.6vh 0.8vw;
      text-align: left;
}
td {
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
        padding: 1vh 0vw;
}

tr:hover {
  background-color: #d5ebf9
}
.scroll .mCSB_inside > .mCSB_container{
  margin-right: 0 !important;
}
.scroll{
  height: 63vh;
}

ul.unassigned-list-title {
  margin: 0vw;
  padding: 0vw;
}
ul.unassigned-list-title li {
   display: inline-block;
    padding: 0vw 1vw;
    font-size: 0.9vw;
    color: #808080;
    //border-right: 1px solid #808080;
    text-align: center;
}
ul.unassigned-list-title li:last-child{
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}
ul.unassigned-list-title li .btn-default{
    background-color: #fff;
    border-color: transparent;
}

.unassigned-leads-table{
  background-color: #FFFFFF;

  ::-webkit-scrollbar {
    width: 0.8vw;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #000;
}
}

.page-title:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 2vw solid white;
  left: 21vw;
  margin-top: -2vw;
}
