<div class="page-title">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group" role="group" aria-label="...">
        <ul class="unassigned-list-title">
       <li style="font-size: 1.2vw" > <i class="icon topleads groupuser unassign" aria-hidden="true"></i> Unassigned Leads</li>
        <li>
              Number of Unassigned
              <p>510</p>

        </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="unassigned-leads-table">
  <table class="scroll">
   <thead>
      <tr>
        <th style="padding-left:1.4vw">Lead Date</th>
        <th>Name</th>
        <th>Product</th>
        <th>Campaign</th>
        <th>Source</th>
        <th>company</th>
        <th>Lead Type</th>

      </tr>
    </thead>
    <div class="table-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
     <tbody >

        <tr (click)="showLead(lead)" *ngFor="let lead of UnassignLeads; let i = index">
          <td style="padding-left:0.4vw;">{{lead.id}}</td>
          <td [attr.id]="'show-unassigned-lead-' + (i + 1)" (click)="showLead(lead)" href="javascript:void(0)"><strong>{{lead.name}}</strong></td>
          <td style="padding-left:0.7vw">{{lead.lastname}}</td>
          <td style="padding-left:0.8vw">{{lead.username}}</td>
          <td style="padding-left:1.5vw">xyz</td>
               <td style="padding-left:1.8vw">xyz</td>
          <td style="padding-left:2vw">xyz</td>

        </tr>
      </tbody>
    </div>
  </table>
  <!--<table width="100%">
    <thead>
      <tr>
        <th width="16%">Created On</th>
        <th width="16%">Name</th>
        <th width="17%">Product</th>
        <th width="17%">Campaign</th>
        <th width="17%">Source</th>
        <th width="17%">Lead Type</th>

      </tr>
    </thead>
  </table>-->
  <!--<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="scroll">
    <table class="table table-layout-fixed">
      <tbody>

        <tr (click)="showLead(lead)" *ngFor="let lead of UnassignLeads">
          <td>{{lead.id}}</td>
          <td>{{lead.name}}</td>
          <td>{{lead.lastname}}</td>
          <td>{{lead.username}}</td>
          <td></td>
          <td></td>

        </tr>
      </tbody>
    </table>
</div>-->
</div>
