<div class="follow-up-container">
  <div class="col-sm-6 indigo">
    <div class="header row">
      <div class="col-sm-4 title">
        <i class="icon followups myfollowups"> </i>
        My Follow-Ups
      </div>
      <div class="col-sm-5">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-first" [ngClass]="{'btn-primary':Actions.all , 'btn-default':!Actions.all}"
                  id="my-followups-all" (click)="filterResults('all')">All
          </button>
          <button type="button" class="btn" [ngClass]="{'btn-primary':Actions.today , 'btn-default':!Actions.today}"
                  id="my-followups-today" (click)="filterResults('today')">Today
          </button>
          <button type="button" class="btn" [ngClass]="{'btn-primary':Actions.open , 'btn-default':!Actions.open}"
                  id="my-followups-open" (click)="filterResults('open')">Opened
          </button>
          <button type="button" class="btn btn-last" [ngClass]="{'btn-primary':Actions.closed , 'btn-default':!Actions.closed}"
                  id="my-followups-closed" (click)="filterResults('closed')">Closed
          </button>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-close" *ngIf="ActionCondition !== 'closed'" [disabled]="close1state" id="close-my-followup" (click)="closePopup($event)">Close Follow
          up  <i class="icon followups closefollowups"></i></button>
      </div>
    </div>
    <div class="row followup-left" style="height:68vh" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <table class="table table-layout-fixed main-table">
        <thead class="table-header">
        <tr>
          <th>
            <input type="checkbox" id="my-followups-check-all" (change)="selectmy($event)"> Date
          </th>
          <th>Time</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Product</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let my of MyFollowups | myfollowups:ActionCondition; let i= index">
          <td colspan="6" class="m-p-0">
            <table class="table table-layout-fixed table-hover">
              <tr *ngIf="!my.edit" [appCustomClass]="my.date">
                <td>
                  <span class="checkbox-containter">
                    <input type="checkbox" [attr.id]="'my-followups-checkbox-' + (i + 1)" [(ngModel)]="my.selected" *ngIf="!my.closed"
                           (ngModelChange)="changeState($event)">
                  </span>
                  <span>{{my.date | date:shortDate}}</span>
                </td>
                <td [attr.id]="'my-followups-show-row-' + (i + 1)" (click)="showRow(my,$event)">{{my.time}}</td>
                <td>
                  <a [attr.id]="'my-followups-show-lead-' + (i + 1)" (click)="showLead(my)" href="javascript:void(0)"><strong>{{my.name}}</strong></a>
                </td>
                <td>
                  <a href="javascript:void(0)"><strong>{{my.phone}}</strong></a>
                </td>
                <td (click)="showRow(my,$event)">{{my.product}}</td>
                <td>
                  <span *ngIf="!my.closed">

                  <i class="icon followups redremainder" [attr.id]="'my-followups-set-reminder-' + (i + 1)"  (click)="setRemainder(my)" [ngClass]="{'text-danger':my.remainder}"></i>
                  <i class="icon followups edit" [attr.id]="'my-followups-edit-' + (i + 1)" (click)="edit(my,i)"></i>
                  </span>
                </td>
              </tr>
              <tr *ngIf="my.edit">
                <td>
                  <input type="checkbox" [(ngModel)]="my.selected" *ngIf="!my.closed">
                  <!--input type="text" class="form-control form-control-sm" #dp="bsDatepicker" bsDatepicker
                         [(bsValue)]="my.date"-->
                  <material-datepicker [(date)]="my.date"></material-datepicker>

                </td>
                <td>
                  <div class="time-container">
                    <select>
                      <option *ngFor="let h of time.hours" value="h">{{h}}</option>
                    </select>
                    :
                    <select>
                      <option *ngFor="let m of time.minutes" value="m">{{m}}</option>
                    </select>

                    <select>
                       <option value="--">--</option>
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                  </div>
                </td>
                <td>{{my.name}}</td>
                <td>{{my.phone}}</td>
                <td>{{my.product}}</td>
                <td>
                  <!--<i class="fa fa-clock-o"></i>-->
                <i class="icon followups remainder" (click)="setRemainder(my)" [ngClass]="{'text-danger':my.remainder}"></i>
                  <i class="icon followups edit" (click)="edit(my,i)"></i>
                </td>
              </tr>
              <tr *ngIf="my.edit || my.show">
                <td colspan="6">
                  <div id="followup-message" class="followupmessage">
                          Call {{my.name}} on lunch break on Thursday. Any time after 3pm
                    <a class="btn btn-sm btn-primary hover pull-right lg" [attr.id]="'my-followups-save-' + (i + 1)" (click)="save(my,i)" *ngIf="my.edit">Save</a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-sm-6 brown">

    <div class="header row">
      <div class="col-sm-5 title">
       <i class="icon followups docusign"></i>
        DocuSign Follow-Ups
      </div>
      <div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="...">

          <button type="button" class="btn" [ngClass]="{'btn-primary':Actions.today , 'btn-default':!Actions.today}"
                  id="my-followups-today" (click)="filterResults('today')">Today
          </button>

         <button type="button" class="btn btn-last" [ngClass]="{'btn-primary':Actions.closed , 'btn-default':!Actions.closed}"
                  id="my-followups-closed" (click)="filterResults('closed')">Closed
          </button>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-close" id="close-docusign-followup">Close Follow
          up  <i class="icon followups closefollowups"></i></button>
      </div>
    </div>
    <div class="row followup-right" style="height:68vh" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <table class="table table-layout-fixed main-table">
        <thead class="table-header">
        <tr>
          <th>
            <input type="checkbox"> Date
          </th>
          <th>Time</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Product</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="checkbox"> 06/03/17</td>
          <td>3 : 15 PM</td>
          <td>John Smith</td>
          <td>555-555-1234</td>
          <td>Auto</td>
          <td>App</td>
        </tr>
        <tr>
          <td><input type="checkbox"> 06/03/17</td>
          <td>3 : 15 PM</td>
          <td>John Smith</td>
          <td>555-555-1234</td>
          <td>Auto</td>
          <td>App</td>
        </tr>
        <tr>
          <td><input type="checkbox"> 06/03/17</td>
          <td>3 : 15 PM</td>
          <td>John Smith</td>
          <td>555-555-1234</td>
          <td>Auto</td>
          <td>App</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
