.follow-up-container{
  .btn-group{
    .btn:first-child{
      border-top-left-radius: 1vw;
      border-bottom-left-radius: 1vw;
    }
    .btn:last-child{
      border-top-right-radius: 1vw;
      border-bottom-right-radius: 1vw;
    }
  }
  >div{
      background-color: white;
    height: 80vh;
    width: 47vw;
    margin: 0vh 0.5vw;
    box-shadow: 2px 2px 2px 2px #CCCCCC;
  }
  
  >div.indigo{
    border-top:1vh solid #9e005d;
        border-radius: 3px;
  }
  >div.brown{
    border-top:1vh solid #662d91;
        border-radius: 3px;
  }
  .header{
    padding: 2vh 0;
    .title{
      font-size: 130%;
    }

  }
  .table-header{
    background-color: #b4c4d3;
    margin-top: 0.2vh 0.1vw;
  }
  input[type="checkbox"]{
    margin-right: 1vw;
  }
.form-control-sm{
       width: 75%;
           margin-top: -2.6vh;
           height:3vh !important;
     }
  table{
    td{
      .checkbox-containter{
        width: 1.4vw;
        display: inline-block;
      }
    }
  }
}
.time-container select {
     width: 2vw;
    font-size: 100%;
    margin-top: 0.1vw;
}
.btn{
  border: unset;
  border-radius: 50px;
  border-color:unset ;
  background-color: transparent;
  color: #0086c8;
  padding: 0.8vh 0.7vw !important;
  font-size: 0.9vw;
}
.btn-primary.hover:hover{
 outline: none;
  outline-offset: -2px;
  background-color: white ;
  border-color: white ;
  color:  #0086c8;
}
.btn-group {
  border: 1px solid #0086c8;
  border-radius: 2vw;
}
.btn-primary {
  color: #fff;
  background-color: #0086c8;
  border-color: #0086c8;
  outline: none;
}
.btn-primary.lg {
 width:7vw;
}
.btn-group .btn.btn-first.btn-primary{
  border-bottom-left-radius: 1vw;
  border-top-left-radius: 1vw;
  outline: none;
}
.btn-group .btn.btn-last.btn-primary{
  border-bottom-right-radius: 1vw;
  border-top-right-radius: 1vw;
  outline: none;
}
.btn-close{
  border: 1px solid #0086c8;
  border-radius:2vw;
  color: #0086c8;
  outline: none;
  padding-left: 1vh 0.5vw
}
tbody tr:hover td {
  background: #d5ebf9;
}
.followupmessage{
  margin-left: 2vw;
}
.followup-left tr:before,.followup-left tr:after, .followup-right tr:before,.followup-right tr:after{
  content:''
}
.followup-left .table>tbody>tr>td, .followup-left .table>tbody>tr>th, .followup-left .table>tfoot>tr>td, .followup-left .table>tfoot>tr>th, .followup-left .table>thead>tr>td, .followup-left .table>thead>tr>th,
.followup-right .table>tbody>tr>td, .followup-right .table>tbody>tr>th, .followup-right .table>tfoot>tr>td, .followup-right .table>tfoot>tr>th, .followup-right .table>thead>tr>td, .followup-right .table>thead>tr>th{
  width: 7.3vw;
  border-top: 0vh;
  border-bottom: 1px solid #ddd;
}
.time-container {
  position: absolute;
  
}
.time-container select {
  width: 2vw;
    height: 3vh;
    font-size: 0.8vw;
    margin-top: 0.4vh;
    padding: 0.6vh 0;
    font-weight: bold;
}
.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 70% !important;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 1vh 0.5vw;
    line-height: 1.42857143;
    vertical-align: top;
    //border-top: 1px solid #ddd;
}