
#leads-top-controls,#leads-tabs{
    display: inline-block;
    vertical-align: top;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs li a{
    border: none;
    border-radius: 0;
}

.nav-tabs li a:hover,
.nav-tabs li.active a{
    background: #444;
    color: #fff;

}
#leads-top-controls .btn {
     padding: 0.8vh 1.2vw;
  margin: 0 0.1vw;
  border-radius: 3px;
     box-shadow: 2px 2px 2px 2px #CCCCCC;
}
.create-lead{
  margin-left: -.8vw !important;
}
// .tci {
//   max-width:3rem;
//   max-height: 3.5rem;
//   margin-top:-2px;
// }
 .btn-xs {
    font-size: 0.8vw;
    line-height: 1.5;
}

#leads-tabs{
  width: 60vw;
  position: relative;
}
.nav-item span.bs-remove-tab {
  float: left;
  border: 1px solid #a2d1ed;
  border-radius: 50%;
  padding: 0vh 0.3vw;
  color: #a2d1ed;
  margin-right: 0.7vw;
}


