
<div id="lead-view-top-controls-container">
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <div id="leads-top-controls">
        <button class="btn btn-default btn-success btn-xs create-lead" id="btn-new-lead" (click)="showView('new-lead',true)"><i class="icon topleads createlead"></i> Create Leads</button>
        <button class="btn btn-default btn-primary btn-xs" id="btn-my-leads" (click)="showView('my-leads',false)"><i class="icon topleads tmyleads"></i> My Leads</button>
        <button class="btn btn-default btn-warning btn-xs" id="btn-unassigned" (click)="showView('unassigned',false)"><i class="icon topleads tunassignlead"></i> Unassigned Leads</button>
      </div>
    </div>
    <div class="col-xs-8">
      <div id="leads-tabs">
        <app-view-selector [newTab]="newTab" [current]="currentComponentTop" id="top-send-tab" (tabChange)="sendTab($event)"></app-view-selector>
      </div></div>
  </div>
 </div>
      <hr style="margin: 5px"/>
      <div  id="new-lead-content"  [hidden]="currentComponentTop !== 'new-lead'">
          <div class="tab-content">
              <div  *ngFor = "let tab of tabs" [ngClass]="{'active':tab.active}" class="tab-pane">
                  <app-activity [type]="tab.component" [data]="tab"></app-activity>
              </div>
          </div>
      </div>

</div>

