<div class="map-modal">
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-map-marker"></i> Map</h4>
    <button type="button" class="close" aria-label="Close"(click)="modelRef.hide()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d64932481.59508601!2d-56.74776846848981!3d-6.626522057913839!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1511804948756" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-outline-dark fa fa-camera " ></button>
  </div>
</div>
