.container-fluid {
  font-size: 90%;
   background: white;
  border-top: 1vh solid #e74c38;
  border-radius: 0.2vw;
  margin-top: -0.2vh;
  border-radius: 0.2vw;
  box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #CCCCCC;
  .left-header {
    color: white;
    height: 7vh;
    font-size: 90%;
   // margin-right: -2vw;
    .bg-gray, .bg-blue {
      height: 7vh;
    }
     .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding-right: 0vw;
    }
    .fa {
        font-size: 100%
      }
    .bg-blue{
      padding-top: 0.6vh;
      font-size: 1vw;
      text-align: right;
      cursor: pointer;
      background-color: #0066a6;
    }
  }
  .leftpanel{
    padding-left: 0vw;
    border-right: 0.1vw solid #c2c2c2;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
    color: #999999;
    
    .left-header .col-sm-12 {
      padding-right: 0vw;
    }
    .new-lead-left-form { 
      height: 57vh;
      padding-top: 0vh;
      font-size: 1vw;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 0.6vh;
      .fa {
        font-size: 2vw;
          padding-left: 1vw;
       color:#999999
      }
      .contact-name{
        margin-top: 1vh;
      }

    }
  }

  .policy-container{
    .tab-container{
      >ul{
        display: block;
        width: 75px;
        float: left;
      }
      >div{
        float: left;
        width: 94%;
      }
    }
  }
}
.add-lead-textbox {
    border-radius: 0.1vw;
    padding: 0;
    border: 0.1vw solid #eee;
    box-shadow: none;
    font-size: 0.9vw;
    height: 3vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1.2vh;
    color: #cccccc;
}
.add-lead-textbox.sm{
height:  2vh;
}
  .add-lead-textbox.office{
  width: 34% !important;
  float: left;
}
.add-lead-textbox.home{
  width:70% !important;
  float: left;
}
.add-lead-textbox.phonetype{
  width:30% !important;
  float: left;
  background: gray;
  
}


::-webkit-input-placeholder {
  color: rgb(200, 200, 231);
}

::-moz-placeholder {
  color: rgb(200, 200, 231);
}

:-ms-input-placeholder {
  color: rgb(200, 200, 231);
}

:-moz-placeholder {
  color: rgb(200, 200, 231);
}
 #result-pan {
  // border-radius: 10px;
  margin-top: 0.8vh;
 }


.data-container {
     background-color: white;
    border-top: 1vh solid grey;
    border-radius: 0.2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #cccccc;
 
    width: 59vw;
    margin: 1.4vh 0.7vw;
    height: 13vh;
    line-height: 3vh;
}


.data-container p {
  margin: 0;
}

.new-lead-left-form .row, .left-paneladdress {
  padding-bottom: 1vh;
}
.container-fluid .leftpanel .new-lead-left-form .left-paneladdress .row {
  padding-bottom: 0vh ;
}
.col-sm-9.bg-gray.leads-left-head .row {
  padding: 0.2vh 0;
}
.container-fluid .leftpanel .new-lead-left-form  span.fa.fa-phone.cursor-pointer:hover{
  color:#000000;
}

.leftpanel hr {
  width: 25vw;
  border-color: #0c90d6;
}
.new-lead-header-status {
  padding: 0vw;
  font-size: 0.75vw;
}
.newleadsnext li {
     display: inline-block;
    padding: 2vh 0vw 2vh 3vw;
    text-align: center;
}
ul.newleadsnext {
  padding: 0vw;
  margin: 0vw;
}
.newleadsnext i.fa.fa-circle {
      color: #808080;
    position: relative;
    z-index: 9999;
    font-size: 1.5vw;
}
.text1{
  margin-left: 0.3vw;
}
.newleadsnext i.fa.fa-circle:after {
      content: "";
    border-top: .2vw solid #808080;
    display: inline-block;
    width: 10vw;
    position: absolute;
    top: 1.4vh;

}
.newleadsnext li:last-child i.fa.fa-circle:after {
  border-top:0vh;

}

.newleadsnext li:nth-last-child(2) i.fa.fa-circle:after {
  width:6vw;

}
.newleadsnext span {

  display: block;
}
.leftpanel-quote{
      padding: 1vh 0.5vw;
    margin-left: 0.8vw;
}

.new-lead-header .newleadsnext li a.active i.fa.fa-circle {
  color: #008bd5 ;
}

.new-lead-header  .newleadsnext li a {
  color:#808080;

}
.new-lead-left-form .col-xs-1 {
  padding-left: 0;
}
.col-xs-1.new-lead-header-farword-arrow {
  width: 4%;
  padding: 0;
  float: right;
}
ul.lead-info-left {
  padding: 0.6vh 0vw 0vh 0vw;
  list-style: none;
  margin: 0;
}
ul.lead-info-left li  {
  color: #808080;
  font-size: 0.7vw;

}
// ul.new-lead-transferdata hr {
//      padding: 0.1vw;
//     margin: 0 0vw;
//     width: 3.2vw;
// }
span.add-btn.cursor-pointer {
  color: #0066a6;
  font-weight: 900;
  border-radius: 3.3vw;
  border: 0.1vw solid #a5a5a5;
  padding: 0 0.3vw;
}
.lead-address .col-xs-5, .lead-address .col-xs-5 input, .lead-street-address .col-sm-4  {
  padding-right: 0vw;
}
.lead-address .col-xs-2, .lead-address .col-xs-2 input  {
  padding-left: 0.5vw;
}
.lead-street-address .col-xs-4{
  padding-right: 0.5vw;
}
.lead-street-address .col-xs-3, .lead-street-address .col-xs-3 input {
  padding-left: 0vw;
}
.lead-city-address .col-xs-3{
  padding-right: 0.2vw;
}
.container-fluid .leftpanel .row.lead-city-address .fa {
  font-size: 1.3vw;
  padding-left: 0.2vw;
  border: 0.1vw solid #eeeeee;
}
.add-new-lead-search-result-area{
  height: 65vh;
  overflow-x: hidden;
  padding: 0 1vw 0vh 1.4vw;
 // overflow-y: scroll;
}

// p{
//       margin: 0 0 10px;

// }
.new-lead-transferdata li {
  display: inline-block;
      font-size: 0.6vw !important;
 
    text-align: center;
  
}
.data-container .col-sm-5{
  padding: 0;
}
.data-container .col-sm-2 {
  padding-right: 0;
}
.lead-info-left i.fa.fa-circle.green {
  color: #39b54a;
}
